version: "3"

services:
  db:
    image: mongo:latest
    command: mongod
    volumes:
      - ./data:/data
      - ./data/db:/data/db
    expose:
      - "27017"
    ports:
      - "27017:27017"

  web:
    build: docker
    links:
      - db
    volumes:
      - .:/app
    ports:
      - 5000:8080
