[Unit]
Description=Neomad.org website
After=network.target

[Service]
ExecStart=/home/ubuntu/prod/venv/bin/gunicorn server --timeout 60
# Required on some systems
WorkingDirectory=/home/ubuntu/prod
Restart=always
RestartSec=3
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=neomad
#User=<alternate user>
#Group=<alternate group>
Environment=PORT=8080

[Install]
WantedBy=multi-user.target
