{% extends 'layout.html' %}

{% block title %}Add a new spot{% endblock %}

{% block extra_css %}
  <link rel=stylesheet href={{ url_for('static', filename='css/form-spot.css') }}>
{% endblock %}

{% block main %}
  <main>
    <form action="{{ url_for('api_spot_create') }}" method=post>
      <h2>Share your place</h2>

      {% if not current_user.allow_community %}
        <p>Currently, you <strong>disallow</strong> community sharing.</p>
        <p>
          You could enable community mode to share your location otherwise, you could authorize
          your browser location just to add this unique place.
        </p>
        <a class="button icon setting" href={{ url_for('privacy') }}>Edit privacy settings</a>
      {% endif %}

      <label for=name>Name<span>*</span></label>
      <input name=name type=text required>

      <label for=category>Type of place</label>
      <div class="select">
        <select name=category>
          <option value=coworking>Coworking space</option>
          <option value=cafe>Coffeeshop / Restaurant</option>
          <option value=other>Library / Museum / other</option>
        </select>
      </div>

      <label for=wifi>Wifi quality</label>
      <input name=wifi min=0 max=5 value=3 type=range>

      <label for=power>Power is available</label>
      <input name=power type=checkbox>

      <label for=comment>Anything to say?</label>
      <textarea name=comment type=text></textarea>

      <div class="button-group">
        <button type=submit>Save this place</button>
        <a class=button href={{ url_for('around') }}>Cancel</a>
      </div>
    </form>
  </main>
{% endblock %}

{% block extra_js %}
  <script>
    let userPosition // NOTE : Its value is affected from localize.html script
  </script>
  <script src={{ url_for('static', filename='js/form-spot.js') }}></script>
{% endblock %}
