{% extends 'layout.html' %}

{% block title %}Around you{% endblock %}

{% block extra_css %}
  <link rel=stylesheet href=https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.css >
  <link rel=stylesheet href={{ url_for('static', filename='css/trips-map.css') }}>
  <link rel=stylesheet href={{ url_for('static', filename='css/around-map.css') }}>
  <script src=https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.js></script>
 {% endblock %}

{% block main %}
  <div id=wrap>
    <div id=poisCards></div>
    <div id=map></div>
  </div>

  <script>
    var currentLocation = {{ current_user.current_location or [] }}
    var locations = [
    {% for user in users %}
      {
        location: {{ user.current_location }},
        user: "{{ user }}"
      },
    {% endfor %}
    ]
  </script>
  <!-- reactJS CDN -->
  <script src="https://unpkg.com/react@latest/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  <!-- aroundJS -->
  <script src={{ url_for('static', filename='js/around-map.js') }}></script>
  <!-- App -->
  <script src={{ url_for('static', filename='components/PoisCards.js') }} type="text/babel"></script>
{% endblock %}
