{% extends 'layout.html' %}

{% block title %}Around you{% endblock %}

{% block extra_css %}
  <link rel=stylesheet href={{ url_for('static', filename='dist/leaflet/leaflet.css') }}>
  <link rel=stylesheet href={{ url_for('static', filename='dist/locatecontrol/L.Control.Locate.css') }}>

  <link rel=stylesheet href={{ url_for('static', filename='css/map.css') }}>
  <link rel=stylesheet href={{ url_for('static', filename='css/map-around.css') }}>

  <script src={{ url_for('static', filename='dist/leaflet/leaflet.js') }}></script>
  <script src={{ url_for('static', filename='dist/locatecontrol/L.Control.Locate.min.js') }}></script>
{% endblock %}

{% block main %}
  <main>
    <div id=map></div>

    {% if current_user and current_user.is_authenticated %}
      <a class="button icon trip" href={{ url_for('form_spot') }}>Add place</a>
    {% endif %}
  </main>
{% endblock %}


{% block extra_js %}
  <script>
    const usersLocation = []
    {% for user in users %}
      usersLocation.push({
        name: '{{ user.username or "anonymous" }}',
        position: {{ user.current_location or [] }},
        link: "{{ url_for_user(user) }}",
        avatar: '{{ user.avatar }}',
        about: `{{ user.about }}`,
      })
    {% endfor %}

    {% if not current_user or current_user.allow_community %}
      alert('localization', 'You do not allow localization, see you profile setting')
    {% endif %}
  </script>
  <script src={{ url_for('static', filename='js/map.js') }}></script>
  <script src={{ url_for('static', filename='js/map-around.js') }}></script>
{% endblock %}
