.articles article {
  box-shadow: 0 0 3px #eee;
  padding: 1em;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 3px;
  border: 1px solid #e9e9e9;
}
.articles article header {
  margin-bottom: 1rem;
}
.articles article figure {
  max-height: 300px;
  overflow: hidden;
  margin: 2rem auto;
}
.articles article > a:not(.read) {
  color: inherit;
  text-decoration: none;
}
.articles article > a.read,
.articles article > a.write {
  display: block;
  margin-top: 2rem;
}

.meta {
  font-size: .9em;
  text-decoration: none;
  display: flex;
  border-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #aaa;
  line-height: 1.2em;
}
.meta p {
  margin: 0;
}
.meta a {
  text-decoration: none;
  vertical-align: top;
  font-size: 1.1em;
}
.meta div a {
  display: block;
}
.meta time {
  font-size: .9em;
}
.meta .reading-time {
  display: inline;
  font-size: 1.4rem;
}
.meta .reading-time::before {
  content: "-";
  margin-right: 0.5em;
}
