.articles article {
  box-shadow: 0 0 3px #eee;
  padding: 1em;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 3px;
  border: 1px solid #e9e9e9;
}
.articles article header {
  margin-bottom: 1rem;
}
.articles article figure {
  max-height: 300px;
  overflow: hidden;
  margin: 2rem auto;
}
.articles article > a:not(.read) {
  color: inherit;
  text-decoration: none;
}
.articles article > a.read,
.articles article > a.write {
  display: block;
  margin-top: 2rem;
}

.meta .reading-time {
  font-size: 1.4rem;
}

.meta .avatar-img {
  margin-top: 0.5rem;
}
