/* poi form */

#open-form {
  position: absolute;
  left: 0;
  position: absolute;
  bottom: 0rem;
  left: 0;
  z-index: 8;
  display: flex;
  justify-content: space-around;
  height: 6rem;
  width: auto;
  padding: 1.5rem 1rem 1rem;
  background-color: #fff;
  border: none;
  border-radius: 0 1rem 0 0;
  box-shadow: 0 .25rem .25rem 0 rgba(0,0,0,0.2);
}
#open-form p {
  margin: 0 .5rem 0 0;
}
#open-form:hover p {
  color: #3ba77c;
}
#open-form svg {
  fill: #333;
  width: 2.5rem;
}
#open-form:hover svg {
  fill: #3ba77c;
}

#poi-form {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  overflow: scroll;
  z-index: 10;
  cursor: pointer;
}

#poi-form form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem 0;
  width: 70rem;
  cursor: initial;
}

#poi-form h2 {
  text-align: center;
  font-size: 4rem;
  margin-top: .5rem;
  color: #279e6a;
}

#poi-form form ul {
  list-style: none;
  margin-left: 4rem;
}

#poi-form form li {
  display: flex;
  padding: 1rem;
}

#poi-form label{
  width: 20rem;
  margin: auto 0;
}

#poi-form input[type="checkbox"] {
  position: relative;
  opacity: 1;
}

#poi-form input[type="text"],
#poi-form textarea,
#poi-form select {
  border: .1rem solid #888;
  border-radius: .5rem;
  padding: .5rem 1rem;
  width: 50%;
  font-family: inherit;
}

#poi-form input:focus,
#poi-form textarea:focus,
#poi-form select:focus {
  border-color: #00bf6b;
}

#poi-form input[type=range] {
  -webkit-appearance: none;
  border: .1rem solid white;
  width: 50%;
  padding: 1rem 0;
  margin: 0;
}

#poi-form input[type=range]::-webkit-slider-runnable-track {
  height: .5rem;
  background: #ddd;
  border: none;
  border-radius: .3rem;
}

#poi-form input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background: #00bf6bee;
  margin-top: -0.4rem;
}

#poi-form input[type=range]:focus {
  outline: #00bf6bee;
}

#poi-form input[type=range]::-webkit-slider-runnable-track {
  background: #ccc;
}

#poi-form input[type=range]::-moz-range-track {
  height: 0.5rem;
  background: #ddd;
  border: none;
  border-radius: .3rem;
}

#poi-form input[type=range]::-moz-range-thumb {
  border: none;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background: #00bf6bee;
}

#poi-form input[type=range]:-moz-focusring{
    outline: .1rem solid white;
    outline-offset: -0.1rem;
}

#poi-form input[type=range]::-ms-track {
    height: .5rem;
    background: transparent;
    border-color: transparent;
    border-width: .6rem 0;
    color: transparent;
}

#poi-form input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 1rem;
}

#poi-form input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 1rem;
}

#poi-form input[type=range]::-ms-thumb {
    border: none;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background: #00bfbeee;
}

#poi-form input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

#poi-form input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

#poi-form select option {
  font-family: inherit;
}

#close-form {
  width: 5.5rem;
  border: none;
  background: none;
  align-self: flex-end;
  z-index: 1;
}

#close-form svg {
  width: 2rem;
}

#close-form svg circle {
  fill: #666;
}

#close-form:hover svg circle {
  fill: #279e6a;
}

#close-form svg path {
  fill: #fff;
}

#save-form {
  width: 16rem;
  align-self: flex-end;
  margin: 0 13rem 1.5rem 0;
  color: #fff;
  background-color: #279e6a;
}

#save-form:hover {
  background-color: #00bf6bee;
}

.visible {
  display: flex !important;
}

/* marker */
.marker {
  fill: #297ddb;
}

.not-current-marker {
  fill: #8f8f8f;
  /* overide leaflet native max at 1010 */
  z-index: 1010 !important;
}

.hash-marker {
  fill: #3ba77c;
  /* overide regular markers */
  z-index: 1011 !important;
}

.current-marker {
  fill: #297ddb;
  /* overide other markers when you hover a card */
  z-index: 1012 !important;
}

.current-card h2 {
  color: #297ddb;
}

.avatar {
  background-image: url('/static/images/avatar.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0.1rem solid #fafafa;
  border-radius: 100%;
}

.user-popup .avatar {
  width: 150px;
  height: 150px;
}

/* responsive */

@media screen and (max-width: 620px) {

  #open-form {
    flex-direction: row-reverse;
    align-items: center;
    top: 4.5rem;
    width: 15rem;
    height: 5rem;
  }

  #open-form p {
    font-size: 1.25rem;
    margin-top: .25rem;
  }

  #poi-form form {
    width: 100%;
  }

  #poi-form h2 {
    font-size: 3rem;
    margin: 0 0 .5rem;
  }

  #poi-form form ul {
    margin-left: 0;
    padding: 2rem 0 2rem 2rem;
  }

  #poi-form label {
    width: 9rem;
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  #poi-form input[type="text"],
  #poi-form input[type="range"],
  #poi-form textarea,
  #poi-form select {
    width: 60%;
  }

  #save-form {
    margin: 0 auto 3rem;
  }
}
