main {
  margin-top: 6.5rem;
}

#wrap {
  display: flex;
  justify-content: space-between;
}

#map {
  position: fixed;
  right: 0;
  width: 50%;
  height: 100%;
  order: 2;
}

#poi-cards {
  order: 1;
  width: 50%;
  height: 100%;
  z-index: 1;
  background-color: #fafafa;
}

#poi-cards > div {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 2rem;
  margin: 0 1rem 1rem 2rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
  transition: 0.15s;
  background-color: #fefefe;
}
.card:hover {
  box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);
}

.card h2 {
  font-size: 2rem;
}

.card-distance {
  align-self: flex-end;
}

/* ================================================================= */
/* OSM & Preact App build CSS and erase below without !important*/

.mapboxgl-canvas-container {
  position: fixed !important;
}

.master-card {
  border: 0.2rem solid #3ba77c !important;
}

.first-card {
  order: 0 !important;
}

.current-marker {
  border: 0.4rem solid #3ba77c !important;
  z-index: 1;
}

/* ================================================================= */

.master-marker {
  background-image: url('/static/images/marker-green.png');
  background-size: cover;
  cursor: pointer;
  width: 20px;
  height: 30px;
  border-radius: 0;
  background-color: transparent;
  border: transparent;
  z-index: 2;
  left: -0.4rem;
}

.current-card > h2 {
  color: #3ba77c;
}

.marker.current {
  background-image: url('/static/images/marker-red.png');
  z-index: 1;
}

.mapboxgl-popup {
  width: 50%;
  z-index: 2;
}

.mapboxgl-popup h2 {
  color: #3ba77c;
}

.mapboxgl-popup h3 {
  margin-bottom: 0;
}

.mapboxgl-popup p:first-letter {
  text-transform: capitalize;
}


li {
  list-style: none;
  padding: 0.3rem 0;
}
p {
  display: inline-block;
  margin: 0 1rem 0 0;
}

/* star rank */
li > svg {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: grey;
}
.rank-1 svg:nth-child(2) {
  fill: #3ba77c;
}
.rank-2 svg:nth-child(2),
.rank-2 svg:nth-child(3) {
  fill: #3ba77c;
}
.rank-3 svg:nth-child(2),
.rank-3 svg:nth-child(3),
.rank-3 svg:nth-child(4) {
  fill: #3ba77c;
}
.rank-4 svg:nth-child(2),
.rank-4 svg:nth-child(3),
.rank-4 svg:nth-child(4),
.rank-4 svg:nth-child(5) {
  fill: #3ba77c;
}
.rank-5 svg:nth-child(2),
.rank-5 svg:nth-child(3),
.rank-5 svg:nth-child(4),
.rank-5 svg:nth-child(5),
.rank-5 svg:nth-child(6) {
  fill: #3ba77c;
}

/* power avaibility */

.power-on svg,
.power-true svg {
  fill: #3ba77c;
}
