main {
  margin-top: 6.5rem;
}

#wrap {
  display: flex;
  justify-content: space-between;
}

#map {
  position: fixed;
  right: 0;
  width: 50%;
  height: 100%;
  order: 2;
}

#poi-cards {
  order: 1;
  width: 50%;
  height: 100%;
  z-index: 1;
  background-color: #fafafa;
}

#poi-cards > div {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 2rem;
  margin: 0 1rem 1rem 2rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
  transition: 0.15s;
  background-color: #fefefe;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);
}

.card h2 {
  font-size: 2rem;
}

.card h3 {
  font-size: 1.85rem;
  font-weight: normal;
  margin: 0 1.25rem 0 0;
}

.card ul {
  padding: 0 0 0 2.5rem;
}

.card ul li {
  display: flex;
  padding: 0 0 1rem 0;
}

.card-distance {
  align-self: flex-end;
}

/* ===================================== */
/* OSM & Preact build CSS into html tag  */

.mapboxgl-canvas-container {
  position: fixed !important;
}

.super-card {
  border: 0.2rem solid #3ba77c !important;
}

.first-card {
  order: 0 !important;
}

.current-marker {
  border: 0.4rem solid #3ba77c !important;
  z-index: 1;
}

/* ===================================== */

.super-marker {
  background-image: url('/static/images/marker-green.png');
  background-size: cover;
  cursor: pointer;
  width: 20px;
  height: 30px;
  border-radius: 0;
  background-color: transparent;
  border: transparent;
  z-index: 2;
  left: -0.4rem;
  top: -2rem;
}

.current-card > h2 {
  color: #3ba77c;
}

.marker.current {
  background-image: url('/static/images/marker-red.png');
  z-index: 1;
}

.mapboxgl-popup {
  width: 50%;
  z-index: 2;
  top: -1.9rem;
}

/* star rank */
li > svg {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: grey;
  margin-top: 0.5rem;
}
.rank-1 svg:nth-child(2) {
  fill: #3ba77c;
}
.rank-2 svg:nth-child(2),
.rank-2 svg:nth-child(3) {
  fill: #3ba77c;
}
.rank-3 svg:nth-child(2),
.rank-3 svg:nth-child(3),
.rank-3 svg:nth-child(4) {
  fill: #3ba77c;
}
.rank-4 svg:nth-child(2),
.rank-4 svg:nth-child(3),
.rank-4 svg:nth-child(4),
.rank-4 svg:nth-child(5) {
  fill: #3ba77c;
}
.rank-5 svg:nth-child(2),
.rank-5 svg:nth-child(3),
.rank-5 svg:nth-child(4),
.rank-5 svg:nth-child(5),
.rank-5 svg:nth-child(6) {
  fill: #3ba77c;
}

/* power avaibility */

.power-on svg,
.power-true svg {
  fill: #3ba77c;
}

/* comments */

.comments {
  flex-direction: column;
}

.comments p,
.no-comments p {
  margin: 0;
  font-size: 1.5rem;
}

.no-comments p {
  font-style: italic;
}

.comments ul {
  padding: 0 0 0 1rem;
}

.comments li {
  font-size: 1.5rem;
  padding: 0;
}

@media screen and (max-width:1200px) {
  .card {
    width: 100%;
    margin-right: 2rem;
  }
}
@media screen and (max-width:600px) {
  #wrap {
    flex-direction: column;
  }
  
  #poi-cards {
    width: 100%;
  }
  
  #map {
    display: none;
  }
  
  .card {
    width: 100%;
    margin-right: 2rem;
    padding-bottom: 0;
  }
  
  .card > h2 {
    margin-top: -30px;
    max-width: 70%;
  }

  .card > ul li {
    padding: 0;
  }