html {
  background-color: #fff;
}

body {
  position: relative;
}

.blog-article {
  margin: 6.5rem auto;
  max-width: 75rem;
  padding: 3rem 10rem;
}

.blog-article header {
  background-color: var(--color-background-primary);
}

.blog-article main {
  margin-top: 2rem;
}

.button-group {
  padding: 0 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
