html {
  background-color: #fff;
}

body {
  height: auto;
  min-height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  font-family: Lora;
  font-size: 1.15em;
  letter-spacing: .02em;
  margin-bottom: 3em;
}

article .meta {
  line-height: 1.4;
  font-size: .7em;
}
article .meta a {
  color: #666;
}
article .meta .reading-time {
  font-size: 1.5rem;
}

article .date {
  display: block;
  margin-top: 3em;
  font-size: .7em;
}

#editor h1 {
  font-size: 1.9em;
  margin: 1em 0;
}

#editor p {
  line-height: 1.7;
  margin: 1.7em 0;
}
#editor img {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
}

aside a {
  display: block;
  padding: 2rem 4rem;
  background-color: #79d;
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 3rem;
  transition: opacity .25s;
}
aside a:hover {
  color: #fff;
  opacity: .9;
}
