/* main > h1 {
  text-align: center;
  margin: 3rem 0;
  font-size: 3.7rem;
}
.articles h2 {
  text-align: center;
}
.articles article {
  box-shadow: 0 0 .3rem #eee;
  padding: 1.7rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: .3rem;
  border: .1rem solid #e9e9e9;
}
.articles article header {
  margin-bottom: 1rem;
}
.articles article figure {
  max-height: 300px;
  overflow: hidden;
  margin: 2rem auto;
}
.articles article > a:not(.read) {
  color: inherit;
  text-decoration: none;
}
.articles article > a.read,
.articles article > a.write {
  display: block;
  margin-top: 2rem;
}

.meta {
  font-size: 1.55rem;
  text-decoration: none;
  display: flex;
  border-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #aaa;
  line-height: 2.05rem;
}
.meta p {
  margin: 0;
}
.meta a {
  text-decoration: none;
  vertical-align: top;
  font-size: 1.85rem;
}
.meta div a {
  display: block;
  margin-bottom: .2rem;
}
.meta a img {
  display: inline-block;
  vertical-align: middle;
  border: .1rem solid #666;
  border-radius: 50%;
}
.meta time {
  font-size: 1.4rem;
}
.meta .reading-time {
  display: inline;
  font-size: 1.4rem;
}
.meta .reading-time::before {
  content: "-";
  margin-right: 0.85rem;
}

.draft {
  position: relative;
}
.ribbon-wrapper {
  width: 8.5rem;
  height: 8.8rem;
  overflow: hidden;
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;
}
.ribbon {
  font-weight: 200;
  font-family: sans-serif;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  transform: rotate(45deg);
  position: relative;
  padding: .7rem 0;
  left: -0.5rem;
  top: 1.5rem;
  width: 12rem;
  background: #279e6a;
  box-shadow: 0 0 .3rem rgba(0,0,0,0.3);
}
.ribbon:before, .ribbon:after {
  content: "";
  border-top: .3rem solid #279e6a;
  border-left: .3rem solid transparent;
  border-right: .3rem solid transparent;
  position: absolute;
  bottom: -0.3rem;
}
.ribbon:hover {
  color: #fff;
  background: #00bf6b;
}
.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}​ */
