html {
  background-color: #fff;
}

body {
  height: auto;
  min-height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  font-family: Lora;
  font-size: 2rem;
  letter-spacing: .035rem;
  margin-bottom: 5.1rem;
}

article .meta {
  line-height: 1.4;
  font-size: 1.25rem;
}
article .meta a {
  color: #666;
}
article .meta .reading-time,
article .meta time {
  font-size: 1.5rem;
}

article h1 {
  font-size: 3.25rem;
  margin: 1.7rem 0;
}

article .content p {
  line-height: 1.7;
  margin: 2.9rem 0;
}
article .content img {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
}

article iframe.video {
  width: 100%;
  height: 500px;
}

aside a {
  display: block;
  padding: 2rem 4rem;
  background-color: #79d;
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 3rem;
  transition: opacity .25s;
}
aside a:hover {
  color: #fff;
  opacity: .9;
}

@media screen and (max-width: 620px) {
  article {
    padding: 6rem 2rem;
  }
  article .meta p {
    display: none;
  }
  article .meta time {
    display: block;
    font-size: 1.25rem;
  }
  article .meta .reading-time {
    font-size: 1.25rem;
  }
  .reading-time::before {
    display: none;
  }

  aside a {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    margin: 1rem;
  }
}
