html {
  background-color: #fff;
}

body {
  position: relative;
}

.meta-data p {
  color: var(--color-time);
  margin: 0;
  font-size: 1.5rem;
}

.blog-article {
  margin: 6.5rem auto;
  width: 75rem;
  padding: 3rem;
}

.blog-article header {
  background-color: var(--color-background-primary);
}

.blog-article main {
  margin-top: 2rem;
}

.button-group {
  padding: 0 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
