body {
  padding-bottom: 50px;
}
form[edit] .toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  background: #fefefe;
  border-top: 1px solid #ccc;
  padding: 10px 20px;
  text-align: right;
}

form[edit] .toolbar button {
  font-size: inherit;
  font-weight: bold;
  display: inline-block;
  padding: 5px 20px;
  background-color: #71d459;
  color: #154110;
  border: 1px solid #309226;
  border-radius: 3px;
}

[contenteditable=true] {
  position: relative;
  line-height: 1;
  border-bottom: 1px dashed transparent;
  transition: .2s border-bottom-color;
}

[contenteditable=true]:hover,
[contenteditable=true]:focus {
  border-bottom-color: #333;
}

[contenteditable=true]::after {
  position: absolute;
  top: 0;
  right: -9px;
  visibility: hidden;
  content: " ✏️";
  font-size: 18px;
}

[contenteditable=true]:hover::after,
[contenteditable=true]:focus::after {
  visibility: inherit;
}

[type="checkbox"] {
  position: absolute;
  opacity: 0.01;
  width: 6rem;
  height: 3rem;
  cursor: pointer;
}

[type="checkbox"] + label {
  position: relative;
  padding-left: 4.5em;
  cursor: pointer;
  z-index: 5;
}
[type="checkbox"] + label:before,
[type="checkbox"] + label:after {
  content: '';
  position: absolute;
}
[type="checkbox"] + label:before {
  left: 0em; top: 0em;
  width: 3em; height: 1.6em;
  background: #f2dede;
  border-radius: 1em;
  transition: background-color .2s;
  border: 1px solid #ebcccc;
  z-index: 2;
}
[type="checkbox"] + label:after {
  width: 1.5em; height: 1.5em;
  transition: all .2s;
  border-radius: 50%;
  background: #fff;
  top: .1em; left: .1em;
  box-shadow: 1px 1px 3px #ccc;
  z-index: 4;
}
.text {
  display: inline-block;
  vertical-align: middle;
}

/* on checked */
[type="checkbox"]:checked + label:before {
  background: #A0BD46;
  border: 1px solid #d0e9c6;
}
[type="checkbox"]:checked + label:after {
  background: #fff;
  left: 2.5rem;
}
[type="checkbox"]:focus + label:before {
  border: 1px dashed #777;
  margin-top: 1px;
}

#notification[class=""] {
  bottom: -100px;
}

#notification {
  position: fixed;
  bottom: 1em;
  left: 0;
  background: rgba(50, 50, 50, .8);
  color: white;
  min-width: 500px;
  padding: 1em;
  max-width: 800px;
  margin-left: 25%;
  width: 50%;
  box-shadow: 0 0 3px #ccc;
  transition: .3s bottom;
  border: 1px solid #333;
  border-radius: .2em;
}
#notification.success {
  background-color: #e7fee7;
  color: #43a243;
  border-color: #b2dab2;
}
#notification.error {
  background-color: #fee7e7;
  color: #a24343;
  border-color: #dab2b2;
}
#notification.info {
  background-color: #e7eafe;
  color: #434ea2;
  border-color: #b2b2da;
}
#notification.warning {
  background-color: #fef6e7;
  color: #a27c43;
  border-color: #dacab2;
}
