body {
  padding-bottom: 50px;
}
form[edit] .toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  background: #fefefe;
  border-top: 1px solid #ccc;
  padding: 10px 20px;
  text-align: right;
}
form[edit] .toolbar .save {
  background-color: #e7fee7;
  color: #3ba53b;
  border-color: #7fc27f;
}
form[edit] .toolbar .delete {
  float: left;
}
[contenteditable=true] {
  position: relative;
  line-height: 1;
  border-bottom: 1px dashed transparent;
  transition: .2s border-bottom-color;
}

[contenteditable=true]:hover,
[contenteditable=true]:focus {
  border-bottom-color: #333;
}

[contenteditable=true]::after {
  position: absolute;
  top: 0;
  right: -9px;
  visibility: hidden;
  content: " ✏️";
  font-size: 18px;
}

[contenteditable=true]:hover::after,
[contenteditable=true]:focus::after {
  visibility: inherit;
}

[type="checkbox"] {
  position: absolute;
  opacity: 0.01;
  width: 6rem;
  height: 3rem;
  cursor: pointer;
}

[type="checkbox"] + label {
  position: relative;
  padding-left: 4.5em;
  cursor: pointer;
  z-index: 5;
}
[type="checkbox"] + label:before,
[type="checkbox"] + label:after {
  content: '';
  position: absolute;
}
[type="checkbox"] + label:before {
  left: 0em; top: 0em;
  width: 3em; height: 1.6em;
  background: #f2dede;
  border-radius: 1em;
  transition: background-color .2s;
  border: 1px solid #ebcccc;
  z-index: 2;
}
[type="checkbox"] + label:after {
  width: 1.5em; height: 1.5em;
  transition: all .2s;
  border-radius: 50%;
  background: #fff;
  top: .1em; left: .1em;
  box-shadow: 1px 1px 3px #ccc;
  z-index: 4;
}
.text {
  display: inline-block;
  vertical-align: middle;
}

/* on checked */
[type="checkbox"]:checked + label:before {
  background: #A0BD46;
  border: 1px solid #d0e9c6;
}
[type="checkbox"]:checked + label:after {
  background: #fff;
  left: 2.5rem;
}
[type="checkbox"]:focus + label:before {
  border: 1px dashed #777;
  margin-top: 1px;
}
