form[edit] .toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  background: #fefefe;
  border-top: 1px solid #ccc;
  padding: 10px 20px;
  text-align: right;
  z-index: 2;
}
form[edit] .toolbar .save {
  background-color: #e7fee7;
  color: #3ba53b;
  border-color: #7fc27f;
}
form[edit] .toolbar .save:hover {
  background-color: #c5f5c5;
  color: #217421;
  border-color: #4b8f4b;
}

form[edit] .toolbar .delete {
  float: left;
  background-color: #fee7e7;
  color: #a24343;
  border-color: #dab2b2;
}
form[edit] .toolbar .delete:hover {
  background-color: #f2c3c3;
  color: #771515;
  border-color: #a25151;
}

[contenteditable=true] {
  position: relative;
  line-height: 1.5;
  border-bottom: 1px dashed transparent;
  transition: .2s border-bottom-color;
}

[contenteditable=true]:hover,
[contenteditable=true]:focus {
  border-bottom-color: #333;
}

[contenteditable=true]::after {
  position: absolute;
  top: 0;
  right: -9px;
  visibility: hidden;
  content: " ✏️";
  font-size: 18px;
}

[contenteditable=true]:hover::after,
[contenteditable=true]:focus::after {
  visibility: inherit;
}

[type="checkbox"] {
  position: absolute;
  opacity: 0.01;
  width: 4.5rem;
  height: 2rem;
  cursor: pointer;
}

[type="checkbox"] + label {
  position: relative;
  padding-left: 6rem;
  cursor: pointer;
  padding-top: .5rem;
  z-index: 5;

}
[type="checkbox"] + label:before,
[type="checkbox"] + label:after {
  content: '';
  position: absolute;
}
[type="checkbox"] + label:before {
  left: 0em; top: 0em;
  width: 3em; height: 1.6em;
  background: #f2dede;
  border-radius: 1em;
  transition: background-color .2s;
  border: 1px solid #ebcccc;
  z-index: 2;
}
[type="checkbox"] + label:after {
  width: 1.5em; height: 1.5em;
  transition: all .2s;
  border-radius: 50%;
  background: #fff;
  top: .1em; left: .1em;
  box-shadow: 1px 1px 3px #ccc;
  z-index: 4;
}
.text {
  display: inline-block;
  vertical-align: middle;
}

/* on checked */
[type="checkbox"]:checked + label:before {
  background: #A0BD46;
  border: 1px solid #d0e9c6;
}
[type="checkbox"]:checked + label:after {
  background: #fff;
  left: 2.5rem;
}
[type="checkbox"]:focus + label:before {
  border: 1px dashed #777;
  margin-top: 1px;
}

figure {
  position: relative;
}
figure label {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255,255,255,.7);
  padding-top: 45%;
  cursor: pointer;
  display: none;
  z-index: 4;
}
figure:hover label {
  display: inherit;
}
figure input {
  display: none;
}
main > header figure .loading {
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 6;
}
main > header figure .loading.ready::before {
  display: none;
}
main > header figure .loading.ready {
  display: none;
}

.ribbon-wrapper {
  width: 13.5rem;
  height: 10.8rem;
  overflow: hidden;
  position: fixed;
  top: 6.6rem;
  right: 0;
}
.ribbon {
  font-weight: bold;
  font-weight: 200;
  font-family: sans-serif;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  transform: rotate(45deg);
  position: relative;
  padding: .7rem 0;
  left: 1.5rem;
  top: 1.5rem;
  width: 16rem;
  background: #279E6A;
  box-shadow: 0 0 0.3rem rgba(0,0,0,0.3);
}
.ribbon:hover {
  color: #fff;
  background: #00bf6b;
}
