body {
  height: auto;
  min-height: 100%;
}

main {
  background-color: #fff; 
  margin: 0;
  height: 100vh;
  padding: 12rem 5rem 0;
}

form.profile-intro {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
form.profile-intro .avatar {
  margin-right: 2rem;
}
form.profile-intro .save {
  height: 5rem;
  width: 100%;
}
form.profile-intro section {
  max-width: 50rem;
}
form.profile-intro input,
form.profile-intro textarea {
  font-family: inherit;
  font-size: 1.7rem;
  color: #333;
  background: #fff;
  border: none;
  box-shadow: 0 0 .2rem .1rem rgba(50, 50, 50, .15);
  border-radius: .5rem;
  width: 100%;
  padding: 1.5rem;
  margin: 0 0 2rem;
  height: 5rem;
  cursor: pointer;
}
form.profile-intro textarea {
  height: 10rem;
}
form.profile-intro input:focus,
form.profile-intro input:active,
form.profile-intro textarea:focus,
form.profile-intro textarea:active {
  cursor: text;
  color: inherit;
  box-shadow: 0 0 .2rem .1rem #00bf6b;
  border-bottom: 0;
  border-radius: .5rem;
}
form.profile-intro .social .edit {
  display: flex;
  align-content: center;
  width: 100%;
  margin: 0 0 2rem;
}
form.profile-intro .social .edit::before {
  color: #00bf6b;
  margin: 0 1rem;
  position: absolute;
}
form.profile-intro .social .edit input {
  margin: 0;
  padding-left: 5rem;
  width: 100%;
}

[contenteditable=true] {
  position: relative;
  line-height: 1.5;
  border-bottom: .1rem dashed transparent;
  transition: .2s border-bottom-color;
}

[contenteditable=true]:hover,
[contenteditable=true]:focus {
  border-bottom-color: #333;
}

[contenteditable=true]::after {
  position: absolute;
  top: 0;
  right: -0.9rem;
  visibility: hidden;
  content: " ✏️";
  font-size: 1.8rem;
}

[contenteditable=true]:hover::after,
[contenteditable=true]:focus::after {
  visibility: inherit;
}

article h1 > input {
  border: 0;
  border-bottom: 1px dashed #333;
  font: inherit;
}

figure {
  position: relative;
}
figure label {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255,255,255,.7);
  padding-top: 27%;
  cursor: pointer;
  display: none;
  z-index: 4;
}
figure:hover label {
  display: inherit;
}
figure input {
  display: none;
}

main > header figure .loading {
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 6;
}
main > header figure .loading.ready::before {
  display: none;
}
main > header figure .loading.ready {
  display: none;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media screen and (max-width: 620px) {
  main {
    padding-top: 7.5rem;
    height: 100%;
  }
  
  form.profile-intro {
    flex-wrap: wrap;
  }
  
  aside.avatar {
    margin: 0 0 3rem;
  }
  
  .delete,
  .save {
    padding: 0 0.5rem;
  }
}
