main {
  width: 100%;
  margin-top: -6rem;
  background-color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
}

.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/home.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70rem;
  margin: 10rem 0 8rem;
  padding: 10rem 10rem;
  position: relative;
}
.hero > h1,
.hero > h2 {
  color: #fff;
  margin: 0;
}
.hero > h1 {
  font-size: 8rem;
  line-height: 10rem;
}

#join-us {
  position: relative;;
  top: 5rem;
  background-color: rgba(17, 195, 116, 0.8);
  color: #fff;
  padding: 1rem 6rem;
  font-weight: bold;
  border-radius: 2.5rem;
  transition: padding .3s ease;
  z-index: 9;
}
#join-us:hover,
#join-us.sticky:hover {
  background-color: #11c374;
}
#join-us.sticky {
  position: fixed;
  left: 17rem;
  top: 1.5rem;
  padding: .5rem 2rem;
}
#arrow-down {
  color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  bottom: -5rem;
  width: 100%;
}
#arrow-down::after {
  font-family: FontAwesome;
  content: "\f078";
  position: relative;
  font-size: 3.5rem;
  animation: 10s updown infinite ease-in-out;
  color: #fff;
  right: 10.5rem;
}

main > section:not(.hero) {
  padding: 2rem;
}
main > section:not(.hero) .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
main > section article {
  flex: 1;
  max-width: 600px;
}
main > section article h3 {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 6.5rem;
}
main > section article ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
main > section aside {
  width: 375px;
  overflow: hidden;
  height: 350px;
}
main > section aside + article {
  margin-left: 8rem;
}
main > section article footer {
  margin-top: 5rem;
}
main > section article footer a:not(:last-of-type) {
  margin-right: 3rem;
}

main > section img {
  width: 100%;
}


.articles > h2,
.profiles > h2 {
  font-size: 3.5rem;
  text-align: center;
  position: relative;
}

#features ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
#features > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 2rem;
}
#features > ul > li > ul > li{
  margin: 0 0 1rem;
}
#features > ul > li:nth-child(2) {
  background-color: #fafafa;
}

.articles {
  padding: 6rem 0;
  background-color: #fafafa
}
.articles .preview {
  margin: 2rem;
  width: 100%;
}
.articles .row {
  display: flex;
  justify-content: space-around;
}
.articles .row .preview a h1 {
  min-height: 8rem;
  display: flex;
  align-items: center;
  font-size: 2.4rem;
}
.articles article figure {
  height: 25rem;
}
.read.action-button {
  width: 50%;
  margin: 0 auto .5rem;
}

.profiles {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
}
.profiles ul {
  display: flex;
  justify-content: center;
  padding: 2rem 20rem;
  flex-wrap: wrap;
}
.profiles li {
  margin: 1.5rem 3rem;
  list-style: none;
}
.profiles figure {
  text-align: center;
}
.profiles figure img {
  margin: 0;
}
.profiles .action-button {
  margin: 0 auto;
  width: 20rem;
}

body > footer {
  position: relative;
  top: -9rem;
}

@media screen and (max-width:1200px) {
  .hero {
    height: 55rem;
  }
  .column {
    flex-direction: column;
    align-items: center;
    padding: 0 22rem;
  }
  .articles .column .preview a h1 {
    min-height: auto;
  }
  .articles .preview {
    margin: 2rem 0;
  }
}

@media screen and (max-width:960px) {
  .hero {
    height: 45rem;
  }
  .hero > h2 {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: normal;
  }
  .column {
    padding: 0 10rem;
  }
  .profiles ul {
    padding: 2rem 10rem;
  }
}

@media screen and (max-width:620px) {
  .hero {
    padding: 7rem;
  }
  #join-us.sticky {
    top: 4.5rem;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(17, 195, 116, 0.8);
    border: none;
    font-weight: 300;
    border-radius: 0;
  }
  #join-us.sticky::before {
    font-family: FontAwesome;
    content: "\f234";
    font-size: 2rem;
    color: #fff;
    position: relative;
    right: 2rem;
    font-weight: lighter;
  }
  #features .action-button {
    margin: 4rem 3rem 0;
  }
  .column {
    padding: 0 5rem;
  }
  .articles article figure {
    height: auto;
  }
}

@media screen and (max-width:480px) {
  .hero {
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero > h1 {
    font-size: 7.5rem;
  }
  .hero > h2 {
    font-size: 2rem;
    text-align: center;
  }
  .articles {
    padding: 5rem 0;
  }
  .column {
    padding: 0 5rem;
  }
}

@media screen and (max-width:360px) {
  .hero > h1 {
    font-size: 5.5rem;
  }
  .hero > h2 {
    width: 90%;
  }
  .column {
    padding: 0 3.5rem;
  }
  .row {
    flex-direction: column;
  }
  .profiles ul {
    padding: 0 0 2.5rem;
  }
  #features h2 {
    font-size: 3rem;
  }
}

@keyframes updown {
  0%   { bottom: 7rem; }
  30%  { bottom: 7rem; }
  32%  { bottom: 5rem; }
  34%  { bottom: 7rem; }
  36%  { bottom: 5rem; }
  38%  { bottom: 7rem; }
  40%  { bottom: 5rem; }
  42%  { bottom: 7rem; }
  100% { bottom: 7rem; }
}
