main {
  margin: 6.5rem 0 0;
}

section {
  background-color: var(--color-background-secondary);
}

.presentation {
  flex-direction: column;
  justify-content: center;
}

.presentation.with-image {
  flex-direction: row;
}

.presentation article {
  width: 65rem;
}

.presentation aside {
  height: 32rem;
}

.article-group {
  display: flex;
  flex-wrap: wrap;
}

.preview {
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  min-width: 40rem;
}

.preview .meta-data {
  display: flex;
  flex-wrap: wrap;
}

.preview .meta-data a {
  flex: 1 1 100%;
}

.preview h2 {
  word-wrap: break-word;
}

.preview .button {
  align-self: center;
  margin: 3rem 0 0;
  max-width: initial;
}
