main {
  width: 100%;
  margin-top: -6rem;
}

section:first-child > div > img {
  width: 100%;
  filter: brightness(50%);
  min-height: 50rem;
}
section:first-child > div > h1,
section:first-child > div > h2 {
  position: absolute;
  color: #fff;
  margin: 0 0 0 3rem;
}
section:first-child > div > h1 {
  font-size: 8rem;
  top: 23rem;
  left: 12.5rem;
}
section:first-child > div > h2 {
  margin-left: 3.5rem;
  top: 32rem;
  left: 12.5rem;
}
#join-us {
  position: absolute;
  left: 16rem;
  top: 38rem;
  background-color: rgba(17,195,116, 0.8);
  color: #fff;
  padding: 1rem 6rem;
  font-weight: bold;
  border-radius: 0.75rem;
}
#join-us:hover {
  background-color: #11C374;
}
#join-us.sticky {
  position: fixed;
  top: 1.25rem;
  z-index: 9;
  padding: 0.75rem 5rem;
}
#arrow-down::after {
  font-family: FontAwesome;
  content: "\f078";
  position: relative;
  font-size: 3.5rem;
  color: #fff;
  animation: 10s updown infinite ease-in-out;
  left: 50%;
  right: 50%;
}

#features h2,
#features h3,
.articles > h2,
.articles > h3 {
  text-align: center;
  color: #00bf6bee;
  position: relative;
}
#features h2,
.articles > h2 {
  font-size: 3.5rem;
  top: -3rem;
}
#features h3,
.articles > h3 {
  top: -6rem
}

#features {
  background-color: #fff;
  padding: 6rem 0;
  position: relative;
  top: -5.5rem;
}
#features ul {
  list-style-type: none;
  padding: 0 7.5rem;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#features ul li {
  width: 25rem;
  height: auto;
  margin: 0 0 5rem 0;
  border: 0.2rem solid #00bf6bee;
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 0.5rem; 
}

#features li::before {
  font-family: FontAwesome;
  color: #00bf6bee;
  font-size: 4rem;
}
#features li:first-child::before {
  content: "\f02d";
}
#features li:nth-child(2)::before {
  content: "\f040";
}
#features li:nth-child(3)::before {
  content: "\f277";
}
#features li:last-child::before {
  content: "\f041";
}

.articles {
  position: relative;
  top: -3.5rem;
  padding: 5rem 0;
}

footer {
  position: relative;
  top: -2.5rem;
}

@media screen and (max-width:1200px) {
  section:first-child  > div > h1 {
    top: 16rem;
    left: 8rem;
  }
  section:first-child  > div > h2 {
    top: 25rem;
    left: 8rem;
  }
  #join-us {
    top: 31rem;
    left: 11.65rem;
  }
  #features ul {
    padding: 0 15rem;
  }
  #features ul li {
    margin: 0 3rem 5rem 3rem;
  }
  #join-us.sticky {
    left: 18rem;
  }
}

@media screen and (max-width:960px) {
  section:first-child  > div > h1 {
    top: 10rem;
    left: 3.5rem;
  }
  section:first-child  > div > h2 {
    top: 20rem;
    left: 3.5rem;
    max-width: 36rem;
    font-size: 2.4rem;
    line-height: 3rem;
  }
  #join-us {
    top: 29rem;
    left: 7.15rem;
  }
  #features ul {
    padding: 0 2rem;
  }
}

@media screen and (max-width:620px) {
  body > header {
    padding: 0;
  }
  #join-us.sticky {
    top: 4.5rem;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(17,195,116, 1);
    border: none;
    font-weight: 300;
    border-radius: 0;
  }
  #join-us.sticky::after {
    font-family: FontAwesome;
    content: "\f0a5";
    font-size: 2rem;
    color: #fff;
    position: relative;
    left: 2rem;
  }
  .articles {
    padding: 5rem;
  }
}

@media screen and (max-width:480px) {
  section:first-child > div > h1 {
    font-size: 7.5rem;
    top: 9rem;
    left: 2rem;
  }
  section:first-child > div > h2 {
    font-size: 2rem;
    top: 18rem;
    left: 2rem;
    width: 30rem;
  }
  #join-us {
    top: 27rem;
    left: 5.65rem;
  }
  #features h2 {
    margin: 4rem 7rem 2rem;
  }
  #features h3 {
    top: -4rem;
  }
  .articles {
    padding: 5rem 3rem;
  }
}

@media screen and (max-width:360px) {
  section:first-child > div > h1 {
    font-size: 5.5rem;
    margin: 0;
  }
  section:first-child  > div > h2 {
    margin: 0;
    top: 16rem;
    left: 2.5rem;
  }
  #join-us {
    top: 25rem;
    left: 2.45rem;
  }
  #features h2 {
    margin: 2rem 1rem;
  }
  #features h3 {
    top: -5rem;
  }
}

@keyframes updown {
  0%   { top: -7rem; }
  30%  { top: -7rem; }
  32%  { top: -5rem; }
  34%  { top: -7rem; }
  36%  { top: -5rem; }
  38%  { top: -7rem; }
  40%  { top: -5rem; }
  42%  { top: -7rem; }
  100% { top: -7rem; }
}
