main {
  width: 100%;
  height: 100%;
  margin-top: 6.5rem;
}

main > section > div > img {
  width: 100%;
  filter: brightness(50%);
}

main > section > div > h1,
main > section > div > h2 {
  position: absolute;
  color: #fff;
  text-shadow: 0 0 5px #fff;
  margin: 0 0 0 3rem;
}
main > section > div > h1 {
  font-size: 5em;
  top: 40%;
}
main > section > div > h2 {
  margin-left: 3.5rem;
  top: 52%;
}

#concept {
  background-color: #fff;
  padding: 3rem 0 0;
  position: relative;
}
#concept h2 {
  text-align: center;
  margin: 3rem 0;
  color: #00bf6bee;
  text-shadow: 1px 1px 1px grey;
}
#concept ul {
  list-style-type: none;
  padding: 0 10rem;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#concept ul li {
  width: 25rem;
  height: 20rem;
  margin: 0 0 5rem 0;
  border: 3px solid #00bf6bee;
  text-align: center;
  padding: 1rem;
}
#concept ul li::before {
  font-family: FontAwesome;
  color: #00bf6bee;
  font-size: 4rem;
  
}
#concept ul li:first-child::before {
  content: "\f02d";
}
#concept ul li:nth-child(2)::before {
  content: "\f040";
}
#concept ul li:nth-child(3)::before {
  content: "\f277";
}
#concept ul li:nth-child(4)::before {
  content: "\f0c0";
}
#concept ul li:last-child::before {
  content: "\f041";
}



.earlybird {
  background: rgba(0, 0, 0, .6);
  color: #fff;
  padding: 10rem;
}
.earlybird p {
  font-size: 1.2em;
}
.earlybird a {
  color: inherit;
}

form input[type=email] {
  border: 1px solid #ccc;
  width: 73%;
  font-size: 1.2em;
}
form input {
  font: inherit;
  padding: 15px 30px;
  /*height: 60px;*/
  display: inline;
  vertical-align: middle;
}
form button.valid {
  border: 1px solid #ccc;
  background-color: rgba(243, 174, 115, .85);
  color: #fff;
  text-transform: uppercase;
  /*width: 25%;*/
  margin-left: 1%;
  background-color: #6B5;
}
form button.valid[disabled] {
  background-color: #999;
  opacity: .6;
}
form input[type=checkbox] {
  margin-right: 1em;
}
form input[type=checkbox] + label {
  font-size: 1.1em;
}

label:last-of-type {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

footer {
  display: none;
}

@media screen and (max-width:960px) {
  form input[type=email] {
    width: 100%;
  }
  form input.valid {
    display: block;
    margin: 1.5rem auto 0;
  }
}

@media screen and (max-width:620px) {
  .earlybird {
    left: auto;
    width: 100%;
  }
  main > h1,
  main > h2 {
    left: 0;
    width: 100%;
    text-align: center;
  }
}
