/* Basics, every styles which applies everywhere */
@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px */
  font-size: calc(1em * 0.625); /* fix */
  background-color: #fafafa;
}

body {
  font-size: 1.7rem;
  line-height: 1.5;
  margin: 0;
  color: rgba(0, 0, 0, .73);
  font-weight: 400;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 70rem;
  margin: 0 auto;
}

figure {
  margin: 0;
}

.btn {
  display: block;
  color: inherit;
  text-decoration: none;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 15px;
  transition: all .3s ease;
}
.btn:hover {
  color: #000;
  background-color: #eee;
}

/* Header */
body > header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, .98);
  box-shadow: 0 2px 2px rgba(50, 50, 50, .2);
  z-index: 9;
}

body > header h1 {
  margin: 0;
  font-weight: 300;
  font-size: 3rem;
}

body > header h1 a {
  padding: 1rem;
  color: inherit;
  text-decoration: inherit;
  transition: all .3s ease;
}

body > header a:hover {
  color: #000;
  background-color: #eee;
}

/* Main */
main {
  margin-top: 10rem;
}

main a {
  color: #4fdbaa;
}

/* Article */

article {
  margin: 0 auto .5rem;
  padding: 3rem;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e9e9e9;
  box-shadow: 0 0 3px #eee;
}

article .content {
  font-family: Lora;
  letter-spacing: .025em;
}

article h1,
article h2,
article h3 {
  font-family: "Lato";
  font-weight: 700;
  font-size: 1.6em;
  margin: 0;
}

article h1 {
  font-size: 1.5em;
  margin-bottom: 2rem;
}

article p {
  margin-top: .35em;
}

article .content > a {
  color: inherit;
  text-decoration: none;
}

img.avatar {
  border-radius: 100%;
  margin-right: 10px;
}

@media screen and (max-width:700px) {
  article {
    width: 100%;
    padding: 0 2rem;
  }
}
