/* Basics, every styles which applies everywhere */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%; /* 10px */
  font-size: calc(1em * 0.625); /* fix */
  background-color: #fafafa;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.7rem;
  line-height: 1.5;
  margin: 0;
  color: #000000;
  font-weight: 400;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.wrapper {
  max-width: 70rem;
  margin: 0 auto;
}

figure {
  margin: 0;
}

a {
  color: #279e6a;
  text-decoration: none;
  transition: color .3s;
}
a:hover {
  color: #00bf6b;
}

ul {
  padding: 0;
  list-style: none;
}

/* Header */
body > header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 2px 2px rgba(50, 50, 50, .2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}
body > header h1 {
  margin: 0;
  font-weight: 300;
  font-size: 3rem;
}
body > header h1 a {
  padding: 1rem;
  text-decoration: inherit;
  color: #333;
  text-decoration: inherit;
}

body > header nav {
  float: right;
  position: relative;
  margin: 0 2rem 0 0;
  display: flex;
  align-items: center;
}
body > header nav a {
  padding: 3px 15px;
  font-size: 1.5rem;
  text-decoration: none;
}
.avatar {
  cursor: pointer;
}
.avatar img {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #666;
  border-radius: 50%;
}
body > header nav .button {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}
body > header nav .button:hover {
  color: #000;
  background-color: #eee;
}

.profile-menu {
  position: absolute;
  top: 6rem;
  right: 0;
  margin: 0;
  padding: 1rem 2rem;
  height: 0;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(50, 50, 50, .2);
  border-radius: 3px;
  transition: all .3s;
}
.profile-menu::before {
  content: '';
  position: absolute;
  top: -1rem;
  right: 2rem;
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  box-shadow: -1px -1px 1px -1px rgba(50, 50, 50, .2);
  transform: rotate(45deg);
  transition: all .3s;
}
.profile-menu li {
  display: none;
  list-style-type: none;
}
.profile-menu li a {
  display: block;
  padding: 1rem 0;
}

.profile-menu.active {
  height: auto;
  opacity: 1;
  z-index: 1;
}
.profile-menu.active li {
  display: block;
}

/* Footer */
footer {
  padding: 3rem 0;
  border-top: 3px solid #eee;
  background-color: #fff;
  z-index: 1;
}
footer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Main */
main {
  margin-top: 10rem;
}

/* Article */
article {
  max-width: 700px;
  background-color: #fff;
}

.content {
  font-family: 'Merryweather';
  letter-spacing: .025em;
  font-size: 1.1em;
}

h1,
h2,
h3,
article h1,
article h2,
article h3 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1.6em;
}
article h1,
article h2,
article h3 {
  margin: 0;
}

article h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

article p {
  margin-top: .35em;
}

article .content > a {
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0;
}

.meta {
  font-size: .9em;
  text-decoration: none;
  display: flex;
  border-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #aaa;
  line-height: 1.2em;
}
.meta p {
  margin: 0;
}
.meta a {
  text-decoration: none;
  vertical-align: top;
  font-size: 1.1em;
}
.meta .reading-time {
  display: inline; 
}
.meta .reading-time::before {
  content: "-";
  margin-right: 0.5em;
}

button,
.button {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 3px 15px;
  transition: all .3s ease;
  cursor: pointer;
}
button:hover,
.button:hover {
  color: #000;
  background-color: #eee;
}

.action-button {
  width: auto;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border: 0.125rem solid #279e6a;
  color: #279e6a;
  background-color: #fff;
  border-radius: 0.5rem;
  transition: all .3s ease;
}
.action-button:hover {
  color: #fff;
  background-color: rgba(17, 195, 116, 0.8);
  border: 0.125rem solid rgba(17, 195, 116, 0.8);
}

#notification[class=""] {
  top: -5em;
}

#notification {
  position: fixed;
  z-index: 99;
  top: 1em;
  left: 0;
  background: rgba(50, 50, 50, .8);
  color: white;
  min-width: 500px;
  padding: 1em;
  max-width: 800px;
  margin-left: 25%;
  width: 50%;
  box-shadow: 0 0 3px #ccc;
  transition: .3s;
  border: 1px solid #333;
  border-radius: .2em;
}
#notification.success {
  background-color: #e7fee7;
  color: #3ba53b;
  border-color: #7fc27f;
}
#notification.error {
  background-color: #fee7e7;
  color: #a24343;
  border-color: #dab2b2;
}
#notification.info {
  background-color: #e7eafe;
  color: #434ea2;
  border-color: #b2b2da;
}
#notification.warning {
  background-color: #fef6e7;
  color: #a27c43;
  border-color: #dacab2;
}

/* Loading spinner */

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  float: left;
  background: transparent url(Vector Loading fallback.gif) right bottom no-repeat;
  background-image: linear-gradient(transparent, transparent), url(Vector Loading.svg);
  background-size: 100%;
  animation-name: loading-spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 34px;
  width: 34px;
  backface-visibility: hidden;
}

/* Loading spinner */

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  float: left;
  background: transparent url(Vector Loading fallback.gif) right bottom no-repeat;
  background-image: linear-gradient(transparent, transparent), url(Vector Loading.svg);
  background-size: 100%;
  animation-name: loading-spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 34px;
  width: 34px;
  backface-visibility: hidden;
}

@media screen and (max-width:700px) {
  article {
    width: 100%;
    padding: 0 2rem;
  }
}

@media screen and (max-width:800px) {
  #notification {
    width: 100%;
    min-width: 0;
    margin-left: 0;
  }
}
