@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  box-sizing: border-box;
}

html {
  background-color: #fafafa;
}
body {
  font-size: 17px;
  line-height: 1.5;
  margin: 0;
  color: rgba(0, 0, 0, .73);
  font-weight: 400;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body > header {
  position: fixed;
  z-index: 9;
  top: 0;
  width: 100%;
  padding: .5em;
  background-color: rgba(255, 255, 255, .98);
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 2px 2px rgba(50, 50, 50, .2);
}
header > h1 {
  font-weight: 300;
  font-size: 1.8em;
}
header > h1 > a {
  text-decoration: inherit;
  color: inherit;
}

main {
  margin-top: 100px;
}

main a {
  color: #4fdbaa;
}

header > h1 {
  padding: 0;
  margin: 0;
}

.articles article {
  box-shadow: 0 0 3px #eee;
  padding: 1em;
  margin: 0 auto;
  margin-bottom: .5em;
  border-radius: 3px;
  border: 1px solid #e9e9e9;
}

article {
  max-width: 700px;
  background-color: #fff;
}

article .content {
  font-family: Lora;
  letter-spacing: .025em;
}

article h1,
article h2,
article h3 {
  font-family: "Lato";
  font-weight: 700;
  font-size: 1.6em;
  margin: 0;
}

article p {
  margin-top: .35em;
}

article h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

article .content > a {
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0;
}

.meta {
  font-size: .8em;
  text-decoration: none;
  display: flex;
  border-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #aaa;
  line-height: 1.2em;
}
.meta p {
  margin: 0;
}
.meta a {
  text-decoration: none;
  vertical-align: top;
  font-size: 1.1em;
}
.meta time {
  display: block;
  font-size: .9em;
}
img.avatar {
  border-radius: 100%;
  margin-right: 10px;
}
