#map {
  position: relative;
  height: calc(100vh - 6.5rem);
}

a.button.trip {
  position: absolute;
  bottom: 0;
  left: 1rem;
  /* overide leaflet */
  z-index: 401;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  padding-right: .2rem;
  line-height: 2.2rem;
}

.icon.location {
  display: flex;
  justify-content: center;
  align-content: center;
}

.icon.location::before {
  font-family: 'fontawesome', 'fontawesome solid';
  content: '\f3c5';
  margin: 0;
}
