#map {
  position: fixed;
  right: 0;
  width: 100%;
  min-height: 100vh;
}

main {
  margin-top: 6.5rem;
}

a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out {
  padding-right: .2rem;
  line-height: 2.2rem;
}

@media screen and (max-width:620px) {
  main {
    margin-top: 4.75rem;
  }
}
