#map {
  position: fixed;
  right: 0;
  width: 100%;
  min-height: 80.75%;
}

main {
  margin-top: 6.5rem;
}

a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out {
  padding-right: .2rem;
  line-height: 2.2rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width:620px) {
  #map {
    min-height: 85.5%;
  }
  
  main {
    margin-top: 4.75rem;
  }
}
