h1 {
  margin-bottom: 3rem;
}

#map {
  width: 100%;
  min-height: 500px;
}

.marker:not(.current) {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #fff;
  border: 4px solid #c92a2acc;
}

.marker.current {
  background-size: cover;
  cursor: pointer;
  width: 20px;
  height: 30px;
  background-image: url('/static/images/marker-red.png');
  z-index: 1;
}

.mapboxgl-popup {
    z-index: 2;
}
