main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 75rem;
  margin: 0 auto 5rem;
}

.trips ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.trips li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  margin: 1rem 0;
  box-shadow: 0 0 .2rem rgba(50, 50, 50, .2);
}

.trips p {
 margin: 0
}

.trips form {
  display: flex;
  flex-direction: column;
}

.trips button {
  margin-top: 0.75rem;
  background-color: #fee7e7;
  color: #a24343;
  border-color: #dab2b2;
}
