body > header {
  box-shadow: none;
}

main {
  margin-top: 60px;
}

main header {
  width: 100%;
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 3px solid #eee;
  padding: 3em calc(50% - 300px);
  margin-bottom: 3em;
  line-height: 1.3em;
}
main header > form {
  display: inline-flex;
}
main header > form input[type=file] {
  width: 100%;
  overflow: auto;
}
main > header figure {
  flex: 0 0 100px;
  height: 100px;
  order: 1;
  align-content: flex-end;
  display: block;
}
main > header > section {
  max-width: 85%;
  color: #888;
  font-size: .9em;
}
main > header div {
  padding-right: 2em;
  flex: 1 1;
}
main > header h1 {
  font-weight: bold;
  margin: 0 auto;
}

article > a:not(.read) {
  color: inherit;
  text-decoration: none;
}
article > a.read,
article > a.write {
  display: block;
}

.newtext {
  display: block;
  border-radius: 10px;
  width: 90%;
  background-color: #333;
  opacity: .1;
  line-height: 70%;
  margin-bottom: 10px;
}
.newtext.title {
  opacity: .2;
  width: 50%;
}
