body > header {
  box-shadow: none;
}

main {
  margin-top: 6rem;
}

main header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: space;
  flex-wrap: wrap;
  background-color: #fff;
  border-bottom: 3px solid #eee;
  padding: 3em calc(50% - 30rem);
  margin-bottom: 3rem;
  line-height: 1.3;
}
main header > section {
  flex-basis: 100%;
  /*display: inline-flex;*/
  order: 2;
  margin-top: 5rem;
}
main header > section > a {
  display: block;
  margin-top: 2rem;
}
main header > form input[type=file] {
  width: 100%;
  overflow: auto;
}
main > header figure {
  flex-basis: 10rem;
  order: 1;
  align-content: flex-end;
  text-align: right;
}
main > header div {
  flex: 1 1;
}
main > header h1 {
  font-weight: bold;
  margin: 0 auto;
}

article > a:not(.read) {
  color: inherit;
  text-decoration: none;
}
article > a.read,
article > a.write {
  display: block;
  margin-top: 2rem;
}

.newtext {
  display: block;
  border-radius: 10px;
  width: 90%;
  background-color: #333;
  opacity: .1;
  line-height: 70%;
  margin-bottom: 10px;
}
.newtext.title {
  opacity: .2;
  width: 50%;
}

@media screen and (max-width:700px) {
  main header {
    padding: 5rem 3rem;
  }
  main > header figure {
    order: 0;
    margin-bottom: 5rem;
    text-align: left;
  }
}
