main > header {
  background-color: #fff;
  border-bottom: 3px solid #eee;
  margin: -3.5rem auto 3rem;
  padding: 5rem 3rem 3rem;
}

.profile-intro {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  margin-bottom: 1rem;
 }
 .profile-intro.wrapper {
   max-width: 70rem;
   margin: 0 auto;
   padding-bottom: 0;
 }
.profile-intro form input[type=file] {
  width: 100%;
  overflow: auto;
}
.profile-intro figure {
  flex-basis: 10rem;
  order: 1;
  align-content: flex-end;
  text-align: right;
}
.profile-intro div {
  flex: 1 1;
  padding-right: 3rem;
}
.profile-intro h1 {
  font-weight: bold;
  margin: 0 auto;
}
.profile-intro > div > p {
  margin: .75rem 0 1rem;
}

.private {
  display: flex;
  align-items: center;
}
.private::before {
  font-family: fontawesome;
  content: '\f21b';
  font-size: 5rem;
  color: #666;
  margin-right: 2rem;
}

.profile-intro .social {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  order: 2;
  padding: 3rem 0 4rem;
}
/* edit */
.profile-intro .social input {
  border: none;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.profile-intro .social a,
.profile-intro .social input {
  display: inline-block;
  font-size: 1.55rem;
  font-style: italic;
  margin-right: 1rem;
  vertical-align: middle;
  height: 3rem;
}
.profile-intro .social a.email {
  margin-right: 3rem;
}
.profile-intro .social a:not(.email) {
  width: 3rem;
  overflow: hidden;
}
.profile-intro .social .edit {
  margin-right: 2rem;
}
.profile-intro .social a::before,
.profile-intro .social .edit::before {
  font-size: 2rem;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: .5rem;
  vertical-align: middle;
}
.profile-intro .social a::before {
  margin-top: -0.5rem;
}
.profile-intro .social .validation {
  color: #279e6a;
}
.profile-intro .social .email::before,
.profile-intro .social .twitter::before,
.profile-intro .social .facebook::before,
.profile-intro .social .instagram::before {
  width: 2.5rem;
  text-align: center;
  margin-right: .75rem;
}
.profile-intro .social .email::before {
  content: "\f003";
}
.profile-intro .social .twitter::before {
  content: "\f099";
}
.profile-intro .social .facebook::before {
  content: "\f09a";
}
.profile-intro .social .instagram::before {
  content: "\f16d";
}

.profile-intro nav {
  display: flex;
  flex-wrap: wrap;
  order: 2;
}
.profile-intro nav a {
  margin-right: 3rem;
}
.profile-intro nav a:last-of-type {
  margin-right: 0;
}
.profile-intro nav .settings,
.profile-intro nav .trips {
  margin-bottom: 2rem; 
}
.profile-intro nav .settings::before,
.profile-intro nav .trips::before {
  font-family: fontawesome;
  font-size: 2rem;
  margin-right: 1rem;
}
.profile-intro nav .settings::before {
  content: "\f013";
  margin-right: 1rem;
}
.profile-intro nav .trips::before {
  content: "\f277";
}

.newtext {
  display: block;
  border-radius: 1rem;
  width: 90%;
  background-color: #333;
  opacity: .1;
  line-height: 70%;
  margin-bottom: 1rem;
}
.newtext.title {
  opacity: .2;
  width: 50%;
}

@media screen and (max-width:620px) {
  main > header > .profile-intro.wrapper{
    margin-top: 2rem;
    flex-direction: column;
  }
  main > header .profile-intro figure {
    order: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
  main > header .profile-intro label {
    padding-top: 3.5rem;
  }
  .profile-intro nav a:first-child {
    margin-right: 2rem;
  }
}
