body > header {
  box-shadow: none;
}

main {
  margin-top: 6rem;
}

main header {
  background-color: #fff;
  border-bottom: 3px solid #eee;
  margin-bottom: 3rem;
  padding-top: 3rem;
}

.profile-intro {
  display: flex;
  justify-content: space-between;
  align-items: space;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  margin-bottom: 1rem;
 }
.profile-intro form input[type=file] {
  width: 100%;
  overflow: auto;
}
.profile-intro figure {
  flex-basis: 10rem;
  order: 1;
  align-content: flex-end;
  text-align: right;
}
.profile-intro div {
  flex: 1 1;
  padding-right: 3rem;
}
.profile-intro h1 {
  font-weight: bold;
  margin: 0 auto;
}
.profile-intro section {
  flex-basis: 100%;
  order: 2;
  margin-top: 5rem;
}
.profile-intro section  a {
  display: block;
  margin-top: 2rem;
}

.newtext {
  display: block;
  border-radius: 10px;
  width: 90%;
  background-color: #333;
  opacity: .1;
  line-height: 70%;
  margin-bottom: 10px;
}
.newtext.title {
  opacity: .2;
  width: 50%;
}

@media screen and (max-width:700px) {
  main header {
    padding: 5rem 3rem;
  }
  main > header figure {
    order: 0;
    margin-bottom: 5rem;
    text-align: left;
  }
}
