/*
  NOTE:
    - Here exceptions/updates missing or on-going in styleguide.neomad.org
    - This file should be empty... and remove soon
*/

/*
  CORE
*/

body {
  background-color: var(--color-background-primary);
}

header.main,
footer {
  padding: 1rem 9rem;
}

header.main {
  /* overide leaflet and notification */
  z-index: 1001;
}

.nav-account:not(.active) {
  display: none;
}

.nav-account {
  display: block;
}

.nav-account a {
  padding: 1rem 0;
}

main {
  margin: 6.5rem 0 0;
}

footer nav {
  justify-content: flex-start;
  padding: 1rem;
}

footer nav a {
  display: flex;
  flex-direction: row;
  margin-right: 2.5rem;
  align-items: flex-start;
}

footer .icon::before {
  font-size: 2rem;
  margin-right: 1rem;
}

/*
  SECTION
*/

.presentation {
  flex-direction: column;
  justify-content: center;
}

.presentation.with-image {
  flex-direction: row;
}

.presentation article {
  width: 65rem;
}

.presentation aside {
  height: 32rem;
}

.article-list {
  margin: 0 auto;
  max-width: 75rem;
  padding: 2rem 4rem;
}

/*
  ARTICLE CONTAINER
*/

.blog-preview {
  display: flex;
  flex-wrap: wrap;
}

.blog-preview .article-list {
  padding: 2rem;
  max-width: 100%;
}

.preview {
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  min-width: 40rem;
}

.preview .meta-data {
  display: flex;
  flex-wrap: wrap;
}

.preview .meta-data a {
  flex: 1 1 100%;
}

.preview h2 {
  word-wrap: break-word;
}

.preview .button {
  align-self: center;
  margin: 3rem 0 0;
  max-width: initial;
}

form.article {
  width: 55rem;
}

/*
  PROFILE
*/

header.profile {
  padding: 3rem 10rem;
}

.preview .bar {
  height: 1.2rem;
}

/*
  UTILS
*/

#notification {
  position: absolute;
  top: 6.5rem;
  background-color: var(--color-white);
  box-shadow: 0 .2rem 0 var(--color-shadow);
  padding: 1rem;
  /* overide leaflet */
  z-index: 1000;
  width: 100%;
}
