main {
  margin-top: 6.5rem;
}

#map {
  position: fixed;
  right: 0;
  width: 100%;
  min-height: 80%;
}

svg {
  fill: #279E6A;
}

.previous-marker svg {
  fill: #297ddb;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
