h1 {
  margin-bottom: 3rem;
}

#map {
  width: 100%;
  min-height: 500px;
}

.marker {
    background-image: url('/static/images/marker-blue.png');
    background-size: cover;
    width: 20px;
    height: 30px;
    cursor: pointer;
}
.marker.current {
    background-image: url('/static/images/marker-red.png');
}
