#map {
  position: fixed;
  right: 0;
  width: 100%;
  min-height: 80%;
}

/* overide leaflet z-index controler */
body > header {
  z-index: 1001
}

svg {
  fill: #279E6A;
}

.previous-marker svg {
  fill: #297ddb;
}
