#map {
  width: 100%;
  min-height: 62rem;
  top: -3.5rem;
}

/* overide leaflet z-index controler */
body > header {
  z-index: 1001
}

svg {
  fill: #279E6A;
}

.previous-marker svg {
  fill: #297ddb;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
