{% from 'blog/macros.html' import article_list with context %}
{% extends 'layout.html' %}

{% block title %}Search results{% endblock %}

{% block extra_css %}
<link rel=stylesheet href=//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css>
<link rel=stylesheet href={{ url_for('static', filename='css/search.css') }}>
<link rel=stylesheet href={{ url_for('static', filename='css/_article_list.css') }}>
{% endblock %}

{% block main %}
<header>
  <form action="{{ url_for('search') }}" method=get>
    <input id=search type=search name=q placeholder="search for neomads and articles">
    <input type=submit value=search>
  </form>
</header>

<section>
  {% if users %}
  <article>
    <h2>{{users|length}} neomads found</h2>
    <ul>
      {% for user in users %}
      {% if user.allow_community %}
      <li class=profiles>
        <a href='{{ url_for_user(user) }}'>
          <figure>
            <img src={{ user.avatar }} width=100 height=100 onerror="this.src='{{ url_for('static', filename='images/avatar.png') }}'" alt="">
          </figure>
          <h2 name=username>{{ user.username }}</h2>
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </article>
  {% endif %}
  
  {% if articles %}
  <article>
    <h2>{{articles|length}} articles found</h2>
    {{ article_list(articles=articles) }}
  </article>
  {% endif %}
  
</section>
{% endblock %}
