{% from 'blog/macros.html' import article_list with context %}
{% extends 'layout.html' %}

{% block title %}{{ article.title }}, by {{ article.author|capitalize }}{% endblock %}
{% block description %}{{ article.content|truncate(200) }} by {{ article.author|capitalize }}.{% endblock %}

{% block extra_og %}
{% if article.image %}
<meta property=og:image content="{% if article.image[:4] == 'http' %}{{ article.image }}{% else %}{{ request.url_root[:-1] }}{{ article.image }}{% endif %}">
{% endif %}
<meta property=og:article:published_time content="{{ article.creation_date }}">
<meta property=og:article:author content="{{ article.author|capitalize }}">
<meta property=og:description content="Article « {{ article|striptags|truncate(200) }} », by {{ article.author|capitalize }} on {{ article.creation_date|datetime }}">
{% endblock %}

{% block extra_css %}
<link rel=stylesheet href={{ url_for('static', filename='css/article.css') }}>
<link rel=stylesheet href={{ url_for('static', filename='css/edit.css') }}>
{% endblock %}

{% block main %}
<article lang={{ article.language }}>
  <section class=meta>
    <a href={{ url_for_user(article.author) }}>
      <img src={{ article.author.avatar }} width=70 height=70 onerror="this.src='{{ url_for('static', filename='images/avatar.png') }}'" alt>
    </a>
    <div>
      <a href={{ url_for_user(article.author) }}>{{ article.author.username }}</a>
      <p>{{ article.author.about|htmlnewline }}</p>
      <time datetime={{ article.creation_date }} pubdate>{{ article.creation_date.strftime('%d %B, %Y') }}</time>
      <p class=reading-time><span>{{ (article.content|length / 6 / 250)|int }}</span> min read</p>
    </div>
  </section>

  {% if errors %}
    <ul>
    {% for error in errors %}
      <li class=error>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if not article.publication_date %}
  <div class=ribbon-wrapper>
    <div class=ribbon>draft</div>
  </div>
  {% endif %}

  <h1 name=title>{{ article.title or 'Insert your title here' }}</h1>
  <div class=content name=content>
    {{ (article.content or '<p>Insert your text here</p>')|safe }}
  </div>
</article>

<aside>
  <a href={{ url_for_user(article.author) }}>Read more from {{ article.author }}</a>
</aside>

<div class=toolbar>
  <a class=button href={{ url_for('article_edit', id=article.id) }}>Edit this article</a>
</div>
{% endblock %}
