{% extends 'layout.html' %}

{% block title %}{{ article.title }}, by {{ article.author|capitalize }}{% endblock %}
{% block description %}{{ article.content|truncate(200) }} by {{ article.author|capitalize }}.{% endblock %}

{% block extra_og %}
{% if article.image %}
<meta property=og:image content="{% if article.image[:4] == 'http' %}{{ article.image }}{% else %}{{ request.url_root[:-1] }}{{ article.image }}{% endif %}">
{% endif %}
<meta property=og:article:published_time content="{{ article.creation_date }}">
<meta property=og:article:author content="{{ article.author|capitalize }}">
<meta property=og:description content="Article « {{ article|striptags|truncate(200) }} », by {{ article.author|capitalize }} on {{ article.creation_date|datetime }}">
{% endblock %}

{% block extra_css %}
<link rel=stylesheet href={{ url_for('static', filename='css/article.css') }}>
{% endblock %}

{% block main %}
<article lang={{ article.language }}>
  <section class=meta>
    <a href={{ url_for_user(article.author) }}>
      <img class=avatar-img src={{ article.author.avatar }} width=70 height=70>
    </a>
    <div>
      <a href={{ url_for_user(article.author) }}>{{ article.author.username }}</a>
      <p>{{ article.author.about|htmlnewline }}</p>
      <time datetime={{ article.creation_date }} pubdate>{{ article.creation_date|datetime }}</time>
    </div>
  </section>

  <h1 name=title>{{ article.title or 'Insert your title here' }}</h1>
  <div class=content name=content>
    {{ (article.content or '<p>Insert your text here</p>')|safe }}
  </div>
</article>

{% if edit %}
<script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

<link rel=stylesheet href=//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css>
<link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/medium-editor/5.23.0/css/themes/tim.min.css>
<link rel=stylesheet href=https://cdn.rawgit.com/orthes/medium-editor-insert-plugin/3.0/dist/css/medium-editor-insert.min.css>
<script src=https://cdn.rawgit.com/orthes/medium-editor-insert-plugin/3.0/dist/js/medium-editor-insert.min.js></script>

{% set url = url_for('article_edit', id=article.id) if article.id else url_for('article_create')  %}
<form method=post action={{ url }} edit>
  <div class=toolbar>
    <input type=hidden name=title>
    <input type=hidden name=content>
    <button type=submit class=save>Save</button>
    {% if article.id %}
    <a class="button delete" href={{ url_for('article_delete', id=article.id) }}>Delete</a>
    {% endif %}
  </div>
</form>
<script>
  document.querySelector('[name=title]').setAttribute('contenteditable', true)

  new MediumEditor('article .content', {
    toolbar: {
      buttons: ['h2', 'h3', 'bold', 'italic', 'anchor', 'quote']
    },
    extensions: {
      insert: new MediumEditorInsert()
    },
    paste: {
        forcePlainText: true,
        cleanPastedHTML: true,
        cleanReplacements: [],
        cleanAttrs: ['class', 'style', 'dir'],
        cleanTags: ['meta', 'span', 'script'],
        unwrapTags: []
    },
    disableDoubleReturn: true,
    disableExtraSpaces: false
  })
  document.querySelector('form[edit]').addEventListener('submit', event => {
    event.target.title.value = document.querySelector('[contenteditable][name=title]').textContent
    event.target.content.value = document.querySelector('[contenteditable][name=content]').innerHTML
  })
</script>
{% endif %}
{% endblock %}
