{% from 'blog/macros.html' import article_list with context %}
{% extends 'layout.html' %}

{% block title %}Nomad articles - {{ articles[0].title|truncate(40) }}{% endblock %}

{% block description %}Read the latest Nomad's articles on Neomad. Hotest article is « {{ articles[0].title }} ».{% endblock %}

{% block extra_og %}
<meta property=og:image content="{{ articles[0].image }}">
<meta property=og:title content="Latest articles ({{ articles[0].title }})">
<meta property=og:description content="{{ articles[0]|striptags|truncate(200) }}">
{% endblock %}


{% block extra_css %}
<link rel=stylesheet href={{ url_for('static', filename='css/_article_list.css') }}>
{% endblock %}

{% block main %}
<div class="articles wrapper">
  <h1>Latest articles</h1>
  {{ article_list(articles=articles) }}
</div>
{% endblock %}
