{% extends 'layout.html' %}

{% block title %}Editing {{ article.title }}{% endblock %}
{% block description %}{{ article.content|truncate(200) }}.{% endblock %}

{% block extra_css -%}
  <link rel=stylesheet href={{ url_for('static', filename='css/article.css') }}>
  <link rel=stylesheet href={{ url_for('static', filename='css/edit.css') }}>
{%- endblock %}

{% block main -%}
{% set url = url_for('article_edit', id=article.id) if article.id else url_for('article_create') %}
<form method=post action={{ url }}>

  <article lang={{ article.language }}>
    <section class=meta>
      <a href={{ url_for_user(article.author) }}>
        <img src={{ article.author.avatar }} width=70 height=70 onerror="this.src='{{ url_for('static', filename='images/avatar.png') }}'" alt>
      </a>
      <div>
        <a href={{ url_for_user(article.author) }}>{{ article.author.username }}</a>
        <p>{{ article.author.about|htmlnewline }}</p>
        <time datetime={{ article.creation_date }} pubdate>{{ article.creation_date.strftime('%d %B, %Y') }}</time>
        <p class=reading-time><span>{{ (article.content|length / 6 / 250)|int }}</span> min read</p>
      </div>
    </section>

    {% if errors -%}
      <ul>
      {% for error in errors %}
        <li class=error>{{ error }}</li>
      {% endfor %}
      </ul>
    {%- endif %}

    {% if not article.publication_date -%}
      <div class=ribbon-wrapper>
        <div class=ribbon>draft</div>
      </div>
    {%- endif %}

    <h1 name=title>{{ article.title or 'Insert your title here' }}</h1>
    <div class=content name=content>
      {{ (article.content or '<p>Insert your text here</p>')|safe }}
    </div>

    <label for=published>
      <input type=checkbox name=published value=1 id=published {% if article.published %}checked{% endif %}>
      Publish this article
    </label>
  </article>

  <div class=toolbar>
    <input type=hidden name=title>
    <input type=hidden name=content>
    <button type=submit class=save>Save</button>
    {% if article.id -%}
      <a class="button delete" href={{ url_for('article_delete', id=article.id) }}>Delete</a>
    {%- endif %}
  </div>
</form>

<script src=/static/js/medium-editor/medium-editor.js></script>
<link rel=stylesheet href=/static/js/medium-editor/medium-editor.css charset=utf-8>
<link rel=stylesheet href=/static/js/medium-editor/tim.min.css>

<link rel=stylesheet href=//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css>
<link rel=stylesheet href=/static/js/medium-editor-insert-plugin/medium-editor-insert.min.css>
<script src=/static/js/medium-editor-insert-plugin/medium-editor-insert.min.js></script>

<script>
  document.querySelector('[name=title]').setAttribute('contenteditable', true)

  new MediumEditor('article .content', {
    toolbar: {
      buttons: ['h2', 'h3', 'bold', 'italic', 'anchor', 'quote']
    },
    extensions: {
      insert: new MediumEditorInsert()
    },
    paste: {
        forcePlainText: true,
        cleanPastedHTML: true,
        cleanReplacements: [],
        cleanAttrs: ['class', 'style', 'dir'],
        cleanTags: ['meta', 'span', 'script'],
        unwrapTags: []
    },
    disableDoubleReturn: true,
    disableExtraSpaces: false
  })
  document.querySelector('form').addEventListener('submit', event => {
    const form = event.target
    form.title.value = document.querySelector('[contenteditable][name=title]').textContent
    form.content.value = document.querySelector('[contenteditable][name=content]').innerHTML
  })
</script>

<script src={{ url_for('static', filename='js/medium-editor/video-button.js') }}></script>
{%- endblock %}
