{% macro article_list(articles, with_author=true) %}
  {% for original_article in articles %}

  {% set article = original_article.morph() %}
  {% set url = url_for_article(article) %}

  <article class="preview {% if not article.published %}draft{% endif %}">
    <div class="ribbon-wrapper">
      <a href="" class="ribbon">draft</a>
    </div>

    <header class=meta>
      {% if with_author %}
        <a href={{ url_for_user(article.get_author()) }}>
          <img
            class="avatar icon"
            src={{ article.get_author().avatar }}
            onerror="this.src='{{ url_for('static', filename='images/avatar.png') }}'"
            alt={{ article.get_author().avatar }}>
        </a>

        <div class=meta-data>
          <a href={{ url_for_user(article.get_author()) }}>{{ article.get_author().username }}</a>
          <time class="icon time" datetime={{ article.publication_date }} pubdate>{{ article.publication_date.strftime('%d %B, %Y') }}</time>
          <p class="icon time time-reading"><span>{{ article.content|reading_time }}</span> min read</p>
        </div>
      {% elif article.publication_date %}
        <time class="icon time" datetime={{ article.publication_date }} pubdate>{{ article.publication_date.strftime('%d %B, %Y') }}</time>
      {% endif %}
    </header>

    <main class=content>
      <a href={{ url }} lang={{ article.language }}>
        <h1>{{ article.title|title }}</h1>
        <figure class="icon read-more">
          <img
            src="{{ article.image }}"
            onerror="this.src='{{ url_for('static', filename='images/article.png') }}'"
            alt="{{ article.title|title }}">
        </figure>
        <figcaption>{{ article.content|striptags|truncate(200) }}</figcaption>
      </a>
    </main>

    <a class="button icon read" href={{ url }} lang={{ article.language }}>Read more</a>
  </article>
  {% endfor %}
{% endmacro %}
