{% macro article_list(articles, with_author=true) %}
  {% for article in articles %}
  {% set url = url_for_article(article) %}
  <article class=preview>
    <header class=meta>
      {% if with_author %}
      <a href={{ url_for_user(article.author) }}>
        <img class=avatar src={{ article.author.avatar }} width=40 height=40>
      </a>
      <div>
        <a href={{ url_for_user(article.author) }}>{{ article.author.username }}</a>
        <time datetime={{ article.creation_date }} pubdate>Published on {{ article.creation_date|datetime }}</time>
        <p class="reading-time">Reading time: <span>{{ (article.content|length / 6 / 250)|int }}</span> min</p>
      </div>
      {% else %}
      <time datetime={{ article.creation_date }} pubdate>Published on {{ article.creation_date|datetime }}</time>
      {% endif %}
    </header>
    <a href={{ url }} lang={{ article.language }}>
      <h1>{{ article.title|title }}</h1>
      {% if article.image %}
      <figure>
        <img src="{{ article.image }}" width=100%>
      </figure>
      {% endif %}
      {{ article.content|striptags|truncate(200) }}
    <a href={{ url }} lang={{ article.language }} class=read>Read more</a>
  </article>
  {% endfor %}
{% endmacro %}
