{% extends 'layout.html' %}

{% block extra_css %}
<link rel=stylesheet href={{ url_for('static', filename='css/article.css') }}>
{% endblock %}

{% block main %}
<article>
  <section class=meta>
    <a href=#>
      <img class=avatar src=https://cdn-images-1.medium.com/fit/c/60/60/0*LX5hEUi7QzID3ymC.jpeg>
    </a>
    <div>
      <a href=# class=author>Vincent Agnano</a href=#>
      <p>Web developer and nomad. Mostly in Europe, sometimes elsewhere.
      <time datetime={{ article.creation_date }} pubdate>{{ article.creation_date|datetime }}</time>
    </div>
  </section>

  <h1>{{ article.title|title }}</h1>

  <section class=content>
    {{ article.body|safe }}
  </section>

  <small class=date>
    Published on <time datetime={{ article.creation_date }} pubdate>{{ article.creation_date|datetime }}</time>
    {% if article.modification_date %}
    , last update on <time datetime={{ article.date }} pubdate>{{ article.modification_date|datetime }}</time>
    {% endif %}
  </small>
</article>
{% endblock %}
