{% extends 'layout.html' %}

{% block main %}
<article>
  <form id=article_form method=post action={{ url_for('article_post') }}>
    <h1 name=title required contenteditable>Insert title here…</h1>

    <section name=content contenteditable>
      Insert text here…
    </section>

    <select name=contenttype>
      <option value=markdown>Markdown</option>
    </select>

    <input type=submit value=Publish>
  </form>
</article>

<script>
(_ => {
  let form = document.querySelector('#article_form')
  form.addEventListener('submit', event => {
    ;[].map.call(event.target.querySelectorAll('[name=title],[name=content]'), field => {
      let input = document.createElement('input')
      input.type = 'hidden'
      input.name = field.getAttribute('name')
      input.value = field.innerHTML
      form.append(input)
    })
  })
})()
</script>
{% endblock %}
