{% extends 'layout.html' %}

{% block title %}{{ code }} - Digital Nomad Community{% endblock %}
{% block description %}Sorry for the inconvenience, let us bring you back home.{% endblock %}

{% block extra_css %}
  <link rel=stylesheet href={{ url_for('static', filename='css/error.css') }}>
{% endblock %}

{% block main %}
  <main>
    <section>
      <h2>Don't worry, it's just a <span>{{ code }}</span></h2>
      <p>
        You should first discover earth before getting too far from your community.<br>
        You got lost!
      </p>
      <a href=/ class=button>Go back to home</a>
    </section>
  </main>
{% endblock %}

{% block footer %}
  <footer>
    <nav class=wrapper>
      <a href=mailto:contact+website@neomad.org>Contact us</a>
      <a href=https://github.com/neomad-team/neomad.org>Github repository</a>
    </nav>
  </footer>
{% endblock %}
