{% extends 'layout.html' %}

{% block title %}{{ code }} - Digital Nomad Community{% endblock %} 
{% block description %}Sorry for the inconvenience, let us bring you back home.{% endblock %}

{% block extra_css %}
<link rel=stylesheet href={{ url_for('static', filename='css/error.css') }}>
{% endblock %}

{% block main %}

<section>
  <h2>Don't worry, it's just a {{ code }}</h2>
  <p>
    You should first discover earth before getting too far from your community.<br>
    You got lost!
   </p>
  <a href=/ class=action-button>Go back to home</a>
</section>

{% endblock %}
