<!DOCTYPE html>
<meta charset=utf-8>
<title>{% block title %}Digital Nomad Community{% endblock %} - Neomad</title>

<meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name=description content="{% block description %}Open Digital Nomad community.{% endblock %}">
<meta property=og:title content="{{ self.title() or 'Neomad. The Open Digital-Nomad Community.' }}">
<meta property=og:url content="{{ request.url }}">
{% block extra_og %}{% endblock %}

<link rel="manifest" href={{ url_for('static', filename='webmanifest.json') }}>

<link rel=stylesheet href={{ url_for('static', filename='css/font.css') }}>
<link rel=stylesheet href=https://styleguide.neomad.org/dist/styleguide.css>
<link rel=stylesheet href={{ url_for('static', filename='css/styleguide-override.css') }}>
{% block extra_css %}{% endblock %}

<header class=main>
  <h1>
    <a href=/>Neomad</a>
  </h1>

  <nav>
    <a href={{ url_for('article_list') }} title="Read Neomad's adventures">Read</a>
    <a href={{ url_for('around') }}>Around Me</a>

    {% if current_user and current_user.is_authenticated %}
      <div id=avatar-menu>
        <img
          class="avatar icon"
          src={{ current_user.avatar }}
          onerror="this.src='{{ url_for('static', filename='images/avatar.png') }}'"
          alt={{ current_user.name }}>
      </div>

      <nav id=menu class=nav-account>
        <a href={{ url_for_user(current_user) }}>Profile</a>
        <a href={{ url_for_trips(current_user) }}>Trips</a>
        <a href={{ url_for('privacy') }}>Privacy Settings</a>
        <a href={{ url_for('logout') }}>Logout</a>
      </nav>
    {% else %}
      <a href={{ url_for('signup') }} class=signup>Sign Up</a>
      <a href={{ url_for('login') }} class=login>Log In</a>
    {% endif %}
  </nav>
</header>

{% block main %}{% endblock %}
{% block footer %}{% endblock %}

<script src={{ url_for('static', filename='js/utils.js') }}></script>
<script src={{ url_for('static', filename='js/main.js') }}></script>
{% block extra_js %}{% endblock %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% set message = messages[0] %}
    <script>notify("{{message[0]}}", "{{message[1]}}")</script>
  {% endif %}
{% endwith %}

{% include 'script/localize.html' %}
{% include 'script/analytics.html' %}
