<!DOCTYPE html>
<meta charset=utf-8>
<title>{% block title %}Digital Nomad Community{% endblock %} - Neomad</title>
<meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name=description content="{% block description %}Open Digital Nomad community.{% endblock %}">
<meta property=og:title content="{{ self.title() or 'Neomad. The Open Digital-Nomad Community.' }}">
<meta property=og:url content="{{ request.url }}">
{% block extra_og %}{% endblock %}

<link rel="manifest" href={{ url_for('static', filename='webmanifest.json') }}>

<link rel=stylesheet href={{ url_for('static', filename='css/main.css') }}>
<link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
<link href="https://fonts.googleapis.com/css?family=Raleway:600|Crimson+Text|Libre+Baskerville|Libre+Franklin|Poppins|Lora|Roboto|Oxygen|Open+Sans:600" rel=stylesheet>
{% if edit %}
<link rel=stylesheet href={{ url_for('static', filename='css/edit.css') }}>
{% endif %}
{% block extra_css %}{% endblock %}

<header>
  <h1><a href=/>Neomad</a></h1>
  <button class=mobile-nav>Menu</button>
  <nav class=mobile-close>
    <a href={{ url_for('article_list') }} title="Read Neomad's adventures">Read</a>
    <a href={{ url_for('around') }}>Around me</a>
    {% if current_user and current_user.is_authenticated %}
    <div class=avatar>
      <img src={{ current_user.avatar }} width=35 height=35 onerror="this.src='{{ url_for('static', filename='images/avatar.png') }}'" alt>
    </div>
    <ul class=profile>
      <li><a href={{ url_for_user(current_user) }}>Profile</a></li>
      <li><a href={{ url_for_trips(current_user) }}>Trips</a></li>
      <li><a href={{ url_for('privacy') }}>Privacy settings</a></li>
      <li><a href={{ url_for('logout') }}>Logout</a></li>
    </ul>
    {% else %}
    <a href={{ url_for('login') }} class=login>Log in</a>
    {% endif %}
  </nav>
</header>

<main>{% block main %}{% endblock %}</main>

{% block footer %}{% endblock %}

<script src={{ url_for('static', filename='js/utils.js') }}></script>
<script src={{ url_for('static', filename='js/main.js') }}></script>
{% block extra_js %}{% endblock %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% set message = messages[0] %}
<script>alert("{{message[0]}}", "{{message[1]}}")</script>
{% endif %}
{% endwith %}

{% include 'user/localize.html' %}

{% include '_analytics.html' %}
