<!DOCTYPE html>
<meta charset=utf-8>
<title>{% block title %}Digital-Nomad Community{% endblock %} - Neomad</title>
<meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name=description content="{% block description %}Open Digital Nomad community.{% endblock %}">
<meta property=og:title content="{{ self.title() or 'Neomad. The Open Digital-Nomad Community.' }}">
<meta property=og:url content="{{ request.url }}">
{% block extra_og %}{% endblock %}

<link rel=stylesheet href={{ url_for('static', filename='css/main.css') }}>
<link href="https://fonts.googleapis.com/css?family=Raleway:600|Crimson+Text|Libre+Baskerville|Libre+Franklin|Poppins|Lora|Roboto|Oxygen|Open+Sans:600" rel=stylesheet>
<link rel=stylesheet href={{ url_for('static', filename='css/edit.css') }}>
<script src={{ url_for('static', filename='js/utils.js') }}></script>
{% block extra_css %}{% endblock %}

<header>
  <h1><a href="/">Neomad</a></h1>
  <nav>
    <a href={{ url_for('article_list') }} title="Read nomad's adventures">Read</a>
    {% if current_user and current_user.is_authenticated %}
    <a class=avatar href={{ url_for_user(current_user) }} title="My profile">
      <img class=avatar src="{{ current_user.avatar }}" width=35 height=35>
    </a>
    <a class=button href={{ url_for('logout') }}>Logout</a>
    {% else %}
    <a href={{ url_for('login') }} class=login>Log in</a>
    {% endif %}
  </nav>
</header>

<main>{% block main %}{% endblock %}</main>


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% set message = messages[0] %}
<script>alert("{{message[0]}}", '{{message[1]}}')</script>
{% endif %}
{% endwith %}

{% include 'user/localize.html' %}

{% include '_analytics.html' %}
