{% extends 'layout.html' %}

{% block title %}{{ code }} - Digital Nomad Community{% endblock %} 
{% block description %}Sorry for the inconvenience, let us bring you back home.{% endblock %}

{% block extra_css %}
<link rel=stylesheet href={{ url_for('static', filename='css/error.css') }}>
{% endblock %}

{% block main %}

<section>
  <h2>Don't worry,<br>
    it's just a <span>{{ user.username }}</span> private page</h2>
  <p>
    Her/him don't want use community mode.<br>
    Don't be ungry, we are all free to share or not.
   </p>
  <a href=/ class=action-button>Go back to home</a>
</section>

{% endblock %}

{% include '_analytics.html' %}
