{% extends 'layout.html' %}

{% block title %}{{ code }} - Digital Nomad Community{% endblock %}
{% block description %}Sorry for the inconvenience, let us bring you back home.{% endblock %}

{% block extra_css %}
  <link rel=stylesheet href={{ url_for('static', filename='css/error.css') }}>
{% endblock %}

{% block main %}

<section>
  <h2>Don't worry,<br>
    this is just <span>{{ user.username }}</span>'s page that is private.</h2>
  <p>
    {{ user.username }} has disabled the community mode.<br>
    Don't be ungry, we are all free to share or not.
   </p>
  <a href=/ class=action-button>Go back to home</a>
</section>

{% endblock %}

{% include '_analytics.html' %}
