{% extends 'layout.html' %}

{% block title %}Log in with your account{% endblock %}
{% block description %}Log in Neomad with your personal account.{% endblock %}

{% block extra_css %}
<link rel=stylesheet href={{ url_for('static', filename='css/auth.css') }}>
{% endblock %}

{% block main %}

<!-- it's a preview, css just here to fix css in styleguide -->
<style>
main {
  height: 100%;
}
#body {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
form.login[data-v-6e1bd991] {
  max-width: 35rem;
}
form > div > label[data-v-6e1bd991] {
  width: 9rem
}
</style>

<section id=body>
  {% block login %}
  <x-form class=login action={{ url_for('login') }} method=post>
    <div class=form-row>
      <label for=email>Email</label>
      <input type=email name=email id=email>
    </div>
    <div class=form-row>
      <label for=password>Password</label>
      <input type=password id=password name=password required>
    </div>
    <input is=x-button class=primary type=submit name=login value=Login>
    <hr>
    <input type=submit name=signup value="Create an account" class=default>
  </x-form>
  {% endblock %}
</section>
{% endblock %}

{% block extra_js %}
<script src={{ url_for('static', filename='dist/build.js') }}></script>
{% endblock %}
