{% extends 'layout.html' %}

{% block title %}Log in with your account{% endblock %}
{% block description %}Log in Neomad with your personal account.{% endblock %}

{% block extra_css %}
<link rel=stylesheet href={{ url_for('static', filename='css/auth.css') }}>
{% endblock %}

{% block main %}
  <main>
    {% block login %}
      <form class=register action={{ url_for('login') }} method=post>
        <h1>Log into my account</h1>

        {% if errors %}
          <ul>
          {% for error in errors %}
            <li class=error>{{ error }}</li>
          {% endfor %}
          </ul>
        {% endif %}


        <label for=email>Email</label>
        <input type=email id=email name=email required>

        <label for=password>Password</label>
        <input type=password id=password name=password required>

        <button class="icon become-user" type=submit>Log in</button>
        <a class="icon account" href={{ url_for('signup') }}>I don't have an account yet!</a>
      </form>
    {% endblock %}
  </main>
{% endblock %}
