{% extends "layout.html" %}

{% block title %}Nomad trips - where {{ user|capitalize }} has travaled{% endblock %}
{% block description %}Follow {{ user|capitalize }}'s trips on Neomad.{% endblock %}

{% block extra_og %}
<meta property=og:image content="{{ user.avatar }}">
<meta property=og:title content="Nomad trips: where {{ user|capitalize }} has traveled">
{% endblock %}

{% block extra_css %}
<link rel=stylesheet href={{ url_for('static', filename='css/trips-map.css') }}>
<!-- leaflet -->
<link rel=stylesheet href=https://unpkg.com/leaflet@1.2.0/dist/leaflet.css integrity=sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ== crossorigin=/>
<script src=https://unpkg.com/leaflet@1.2.0/dist/leaflet.js integrity=sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log== crossorigin=></script>
<!-- leaflet.leaflet-locatecontrol -->
<link rel=stylesheet href=//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css>
<script src=https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.js charset="utf-8"></script>
{% endblock %}

{% block main %}
<div id=map></div>
<script>
  var current_location = {{ user.current_location or [] }}
  var locations = [
  {% for location in locations %}
    {
      date: '{{ location.date|datetime }}',
      position: {{ location.position }}
    },
  {% endfor %}
  ]
</script>
<script src={{ url_for('static', filename='js/map.js') }}></script>
<script src={{ url_for('static', filename='js/trips-map.js') }}></script>
{% endblock %}
