{% extends "layout.html" %}

{% block title %}Nomad trips - where {{ user|capitalize }} has travaled{% endblock %}
{% block description %}Follow {{ user|capitalize }}'s trips on Neomad.{% endblock %}

{% block extra_og %}
<meta property=og:image content="{{ user.avatar }}">
<meta property=og:title content="Nomad trips: where {{ user|capitalize }} has traveled">
{% endblock %}

{% block extra_css %}
<link href=https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.css rel=stylesheet>
<link rel=stylesheet href={{ url_for('static', filename='css/trips-map.css') }}>
<script src=https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.js></script>
 {% endblock %}

{% block main %}

<div class=wrapper>
  <h1>Where <em>{{ user }}</em> has traveled</h1>
</div>
<div id=map></div>
{% for point in points %}
<p>{{ point }}</p>
{% endfor %}
{% if not user.allow_localization %}
<p>{{user}} did not permit localization. Unfortunatly we cannot build the maps with his trips.</p>
{% endif %}
<script>
  var current_location = {{ user.current_location or [] }}
  var locations = [
  {% for location in locations %}
    {
      date: '{{ location.date|datetime }}',
      position: {{ location.position }}
    },
  {% endfor %}
  ]
</script>
<script src={{ url_for('static', filename='js/trips-map.js') }}></script>
{% endblock %}
