{% extends "layout.html" %}

{% block title %}Nomad trips - where {{ user|capitalize }} has travaled{% endblock %}
{% block description %}Follow {{ user|capitalize }}'s trips on Neomad.{% endblock %}

{% block extra_og %}
  <meta property=og:image content="{{ user.avatar }}">
  <meta property=og:title content="Nomad trips: where {{ user|capitalize }} has traveled">
{% endblock %}

{% block extra_css %}
  <link rel=stylesheet href={{ url_for('static', filename='dist/leaflet/dist/leaflet.css') }}>
  <link rel=stylesheet href={{ url_for('static', filename='dist/leaflet.locatecontrol/dist/L.Control.Locate.css') }}>

  <link rel=stylesheet href={{ url_for('static', filename='css/map.css') }}>
  <link rel=stylesheet href={{ url_for('static', filename='css/map-trips.css') }}>
{% endblock %}

{% block main %}
  <main>
    <div id=map></div>
  </main>
{% endblock %}

{% include 'script/location-trips.html' %}
{% block extra_js %}
  <script src={{ url_for('static', filename='dist/leaflet/dist/leaflet.js') }}></script>
  <script src={{ url_for('static', filename='dist/leaflet.locatecontrol/dist/L.Control.Locate.min.js') }}></script>
  <script src={{ url_for('static', filename='js/map.js') }}></script>
  <script src={{ url_for('static', filename='js/map-trips.js') }}></script>
{% endblock %}
