{% extends 'layout.html' %}

{% block title %}Edit my profile{% endblock %}

{% block main -%}
  <main>
    <form class=profile method=post action={{ url_for('profile_save') }} enctype=multipart/form-data>
      <aside class=avatar>
        <figure>
          <img class=avatar
            name=avatar
            src={{ user.avatar }}
            width=100
            height=100
            onerror="this.src='{{ url_for('static', filename='images/avatar.png') }}'">
          <caption>
            <label>
              <input type=file name=avatar>
              {% if user.avatar %}Edit{% else %}Add{% endif %} your picture
            </label>
          </caption>
        </figure>
        {% if user.has_avatar %}
        <label for=avatar-delete><input type=checkbox id=avatar-delete name=delete value=1>Remove this picture</label>
        {% endif %}
      </aside>

      <section>
        <label for="username">Username</label>
        <input name=username id="username" value="{{ user.username }}" placeholder="Insert a username">
        <label for="about">About</label>
        <textarea name=about id="about" placeholder="Tell a little about yourself">{{ user.about|htmlnewline }}</textarea>

        <article class=social>
          <ul class="profile-socials">
            {% for social in user.socials -%}
              <li class="icon {{ social }}">
                <input name="{{ social }}" value="{{ user.socials[social] }}" placeholder="My {{ social }} link" type=text>
              </li>
            {%- endfor %}
          </ul>
        </article>

        <button class="action-button save" type=submit>Save my profile</button>
      </section>
    </form>
  </main>
{% endblock %}
