{% from 'blog/macros.html' import article_list with context %}
{% extends 'layout.html' %}

{% block title %}My profile{% endblock %}

{% block extra_css %}
<link rel=stylesheet href={{ url_for('static', filename='css/edit.css') }}>
<link rel=stylesheet href={{ url_for('static', filename='css/profile.css') }}>
<link rel=stylesheet href={{ url_for('static', filename='css/_article_list.css') }}>
{% endblock %}

{% block main -%}
  <header>
    <form method=post action={{ url_for('profile_save') }} enctype=multipart/form-data>
      <div class="profile-intro wrapper">
        <div class=avatar>
          <figure>
            <img class=avatar-img
              name=avatar
              src={{ user.avatar }}
              width=100
              height=100
              onerror="this.src='{{ url_for('static', filename='images/avatar.png') }}'">
            <caption>
              <label>
                <input type=file name=avatar>
                {% if user.avatar %}Edit{% else %}Add{% endif %} your picture
              </label>
            </caption>
          </figure>
          {% if user.has_avatar %}
          <label for=avatar-delete><input type=checkbox id=avatar-delete name=delete value=1>Remove this picture</label>
          {% endif %}
        </div>

        <section>
          <input name=username value="{{ user.username }}" placeholder="Insert a username">
          <textarea name=about placeholder="Tell a little about yourself">{{ user.about|htmlnewline }}</textarea>
          {% if not user.allow_community %}
          <p>
            <a class=private href={{ url_for('privacy') }}>
              Community mode is disabled.<br>
              your contents are restricted and private.<br>
            </a>
          </p>
          {% endif %}
        </section>

        <section class=social>
          {% for social in user.socials -%}
            <span class="edit {{ social }}">
              <input name=socials.{{ social }} value="{{ user.socials[social] }}" placeholder="My {{ social }} link">
            </span>
          {%- endfor %}
        </section>

        <nav>
          <a class="action-button settings" href={{ url_for('privacy') }}>Set my privacy settings</a>
        </nav>
      </div>

      <div class=toolbar>
        <input class=save type=submit value="Save my profile">
      </div>
    </form>
  </header>
{% endblock %}

{% block extra_js %}
<script>
  function transformToUrl(field) {
    if(field.value !== '') {
      field = `https://www.${field.name}.com/${field.value}`
    }
    return field
  }
</script>
{% endblock %}
