{% extends 'layout.html' %}

{% block extra_css %}
<link rel=stylesheet href={{ url_for('static', filename='css/profile.css') }}>
{% endblock %}

{% block main %}
<header>
  <figure>
    <img class=avatar name=avatar src={{ user.avatar }} width=100 height=100 onerror="this.src='{{ url_for('static', filename='images/avatar.png') }}'">
  </figure>
  <div>
    <h1 name=username>{{ user.username or 'Insert a username' }}</h1>
    <p name=about>{{ user.about|htmlnewline or 'Introduce yourself here' }}</p>
  </div>
  <section>
    {% if edit %}
    <form>
      <div>
        <input type=checkbox name=localize {% if user.allow_localization %}checked{% endif %} id=localize><label for=localize title="enable travel tracking services">Follow my trips</label>
      </div>
    </form>
    {% endif %}
    <a href={{ url_for_trips(user) }}>{% if edit %}View my trips.{% else %}View {{ user }}'s trips.{% endif %}</a>
  </section>
</header>

<section class=articles>
{% if edit %}
  <article class=preview>
    <h1><span class="newtext title">&nbsp;</span></h1>
    <p><span class=newtext>&nbsp;</span><span class=newtext>&nbsp;</span><span class=newtext>&nbsp;</span></p>
    <a href={{ url_for('article_create') }} class=read>Write this article</a>
  </article>
{% endif %}
{% for article in articles %}
  {% set url = url_for_article(article) %}
  <article class=preview>
    <a href={{ url }}>
      <h1>{{ article.title|title }}</h1>
      {{ article.content|striptags|truncate(200) }}
    </a>
    <a href={{ url }} class=read>Read</a>
  </article>
{% endfor %}
</section>

{% if edit %}
<script>
  const usernameField = document.querySelector('[name=username]')
  usernameField.setAttribute('contenteditable', true)
  usernameField.addEventListener('blur', event => {
    const call = api.send('post', "{{ url_for('profile_edit') }}",
      {username: event.target.textContent}
    )
    apiFeedback(call, 'Your username has been updated.')
  })

  const localizeField = document.querySelector('[name=localize]')
  localizeField.addEventListener('change', event => {
    const call = api.send('post', "{{ url_for('profile_edit') }}",
      {allow_localization: event.target.checked}
    )
    apiFeedback(call, 'Your localization preference has been updated.')
  })
  localizeField.addEventListener('change', event => event.target.checked && localize())

  const aboutField = document.querySelector('[name=about]')
  aboutField.setAttribute('contenteditable', true)
  aboutField.addEventListener('blur', event => {
    const call = api.send('post', "{{ url_for('profile_edit') }}",
      {about: event.target.innerHTML}
    )
    apiFeedback(call, 'You description has been updated.')
  })

  const avatarField = document.querySelector('[name=avatar]')
  const uploadField = document.createElement('input')
  uploadField.type = 'file'
  uploadField.name = 'avatar'
  // avatarField.after(uploadField)  # is not cross compatible
  avatarField.parentNode.insertBefore(uploadField, avatarField.nextSibling )
  uploadField.addEventListener('change', event => {
    const reader = new FileReader()
    reader.addEventListener('load', event => {
      const call = api.send('post', "{{ url_for('profile_edit_avatar') }}",
        {data: event.target.result}
      )
      apiFeedback(call, "Your profile picture has been updated.")
      .then(response => {
        return response.text()
      })
      .then(url => {
        // url is cached
        avatarField.src = url + '?' + Math.random()
      })
    })
    reader.readAsDataURL(event.target.files[0])
  })


  function apiFeedback(caller, confirmation) {
    return caller.then(response => {
      const status = response.status
      if(200 <= status < 300) {
        alert('success', confirmation)
      }
      else {
        alert('error', `An error occured. Technical detail: response status ${status}`)
        console.error(response)
      }
      return response
    }, error => {
      alert('error', error)
      return error
    })
  }

  const api = {
    send(method, url, data) {
      return fetch(url, {
        method: method,
        body: JSON.stringify(data),
        credentials: 'same-origin',
        headers: {'Content-Type': 'application/json'}
      })
    }
  }

  function alert(type, message, delay) {
    console.info(type, message)
    let notification = document.querySelector('#notification')
    if(!notification) {
      notification = document.createElement('div')
      notification.id = 'notification'
      document.body.append(notification)
    }
    notification.textContent = message
    notification.classList = [type]
    if(delay !== 0) {
      this.timer = setTimeout(_ => {
        notification.classList = []
      }, delay || 5000)
    }
  }
</script>
{% endif %}
{% endblock %}
