{% from 'blog/macros.html' import article_list with context %}
{% extends 'layout.html' %}

{% block title %}{{ user|capitalize }}'s profile{% endblock %}
{% block description %}{{ user|capitalize }} is on Neomad with {{ articles.count() }} articles published and {% if user.allow_community %}sharing with the community{% else %}in hight privacy{% endif %}.{% endblock %}

{% block extra_og %}
  <meta property=og:image content="{{ request.url_root[:-1] }}{{ user.avatar }}">
  <meta property=og:profile content={{ request.url }}>
  <meta property=og:profile:username content="{{ user.username }}">
{% endblock %}

{% block extra_css %}
<link rel=stylesheet href={{ url_for('static', filename='css/profile.css') }}>
{% endblock %}

{% block main %}
  <main>
    <header class=profile>
      <article class="profile-user">
        <h1>{{ user.username }}</h1>
        <p class=about>{{ user.about|htmlnewline }}</p>

        {% if user.allow_community %}
          <p>
            {{ user }} is currently around <a href={{ url_for_trips(user) }} data-latlng={{ user.current_location and user.current_location|join(',') }}>the world</a>.
          </p>
        {% else %}
          <p class=private>
            {{ user }} disabled community mode; the contents are therefore private.<br>
          </p>
        {% endif %}

        <figure>
          <img class=avatar
            src={{ user.avatar }}
            width=100
            height=100
            onerror="this.src='{{ url_for('static', filename='images/avatar.png') }}'">
        </figure>

      </article>

      <ul class=profile-socials>
        {% if user.socials.email -%}
          <li>
            <a class="icon email" href=mailto:{{ user.socials.email }} title="Send email">{{ user.socials.email }}</a>
          </li>
        {%- endif %}

        {% for name, url in user.socials.items() -%}
          {% if name != 'email' and url -%}
            <li>
              <a class="icon {{ name }}" href={{ url }} target=_blank title="View {{ user }}'s profile on {{ name|capitalize }}">{{ name|capitalize }}</a>
            </li>
          {%- endif %}
        {%- endfor %}
      </ul>

      <nav>
        {% if user == current_user -%}
          <a class="button icon setting" href={{ url_for('profile_edit') }}>Edit my profile</a>
          <a class="button icon setting" href={{ url_for('privacy') }}>Edit privacy settings</a>
          <a class="button icon trip" href={{ url_for_trips(user) }}>View my trips</a>
        {%- else %}
          <a class="button icon trip" href={{ url_for_trips(user) }}>View {{ user }}'s trips</a>
        {%- endif %}
      </nav>
    </header>

    <section class=articles>
      {% if user == current_user -%}
        <article class=preview>
          <div class=bar></div>
          <div class=bar></div>
          <div class=bar></div>
          <div class=bar></div>
          <a href={{ url_for('article_create') }} class=read>Create a new article</a>
        </article>
      {% endif %}

      {{ article_list(articles=articles, with_author=false) }}
    </section>
  </main>
{% endblock %}

{% block extra_js %}
  <script>
    const a = document.querySelector('[data-latlng]')
    if(a) {
      coordinatesToAddress(a.dataset.latlng).then(data => {
        a.textContent = `${data.area}, ${data.country}`
      })
    }
  </script>
{% endblock %}
